/* ------- UI - Input ------- */
input {
	&::-ms-clear {
		display: none;
	}
}

.ui-input,
.ui-textarea {
	appearance: none;
	display: block;
	box-shadow: none;
	border: 1px solid $input-border;
	border-radius: 0.4rem;
	outline: none;
	padding: 0 2rem;
	width: 100%;
	height: $input-height;
	font-family: $font-primary;
	font-weight: 600;
	font-size: $font-size-normal;
	line-height: 1.5;
	text-align: left;
	color: $base-color;
	background: $white;
	transition: $duration background-color, $duration color, $duration border-color, $duration box-shadow;

	&::placeholder {
	  color: $placeholder;
	  transition: $duration color;
	}

	&:focus {
		border-color: $black;
	}

	@include disabled {
		color: $disabled-color;
		background-color: $disabled-background;
	}

	@include error {
		border-color: $error;
	}

	.is-entered &:invalid:required {
		border-color: $error;
	}

	@include media(mob) {
		// font-size: 1.4rem;
	}
}

.ui-textarea {
	padding-top: 1.5rem; 
	padding-bottom: 1.5rem;
	height: auto;
	min-height: 10rem;
	resize: none;

	@include media(mob) {
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}

	@include media-min(1025) {
		scrollbar-width: thin;
		scrollbar-color: rgba($black, 0.3);
	
		&::-webkit-scrollbar {
		  position: relative;
		  width: 1rem;
		  cursor: pointer;
		}
	
		&::-webkit-scrollbar-thumb {
		  border-left: 0.4rem solid $white;
		  border-right: 0.4rem solid $white;
		  background: rgba($black, 0.3);
		  transition: $duration background;
		}
	
		&::-webkit-scrollbar-track {
		  margin: 0.5rem 0;
		  background: transparent;
		}
	}
}

.ui-input-datepicker {
	padding-right: 4rem;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1423_3896)'%3E%3Cpath d='M4 7C4 6.46957 4.21071 5.96086 4.58579 5.58579C4.96086 5.21071 5.46957 5 6 5H18C18.5304 5 19.0391 5.21071 19.4142 5.58579C19.7893 5.96086 20 6.46957 20 7V19C20 19.5304 19.7893 20.0391 19.4142 20.4142C19.0391 20.7893 18.5304 21 18 21H6C5.46957 21 4.96086 20.7893 4.58579 20.4142C4.21071 20.0391 4 19.5304 4 19V7Z' stroke='%232C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 3V7' stroke='%232C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 3V7' stroke='%232C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4 11H20' stroke='%232C2C2C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1423_3896'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: 2.4rem 2.4rem;
	background-repeat: no-repeat;
	background-position: right 1.5rem center;
}
