/* ------- Blockquote -------- */
.blockquote {
    position: relative;
    padding: 4rem 4rem 5.6rem;
    border: 1px solid $base-color;
    border-radius: $radius $radius $radius-lg $radius;

    @include media(mob) {
        padding-bottom: 4rem;
    }

    @include media(mob-m) {
        padding: 3rem 2rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: -2.3rem;
        right: 4rem;
        width: 5rem; 
        height: 4.7rem;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='47' viewBox='0 0 50 47' fill='none'%3E%3Cpath d='M0 46.5727L1.15304 37.9826C4.08805 38.1896 6.28931 37.6376 7.75681 36.3267C9.22432 35.0158 10.1677 33.2219 10.587 30.945C11.0063 28.6681 11.0762 26.1497 10.7966 23.3898H0V0H20.5451V26.4947C20.5451 33.7393 18.7282 39.1901 15.0943 42.8469C11.5304 46.5037 6.49895 47.7457 0 46.5727ZM29.4549 46.5727L30.608 37.9826C33.543 38.1896 35.7442 37.6376 37.2117 36.3267C38.6792 35.0158 39.6226 33.2219 40.0419 30.945C40.4612 28.6681 40.5311 26.1497 40.2516 23.3898H29.4549V0H50V26.4947C50 33.7393 48.1831 39.1901 44.5493 42.8469C40.9853 46.5037 35.9539 47.7457 29.4549 46.5727Z' fill='%23FF4400'/%3E%3C/svg%3E");
        mask-repeat: no-repeat;
        mask-size: contain;
        background: $accent;

        @include media(mob-m) {
            top: -1.3rem;
            right: 2rem;
            width: 3rem;
            height: 2.6rem;
        }
    }

    &__author {
        margin-bottom: 3rem;
        font-size: 1.4rem;
        line-height: 1.4;
        font-weight: 600;
        color: var(--color-grey-6);
        
        span {
            display: block;
            color: $accent;
        }

        @include media(mob-m) {
            margin-bottom: 2rem;
        }
    }
}