/* ------- tags -------- */
.tags {
    display: flex;
    flex-wrap: wrap;

    &__link,
    &__item {
        margin: 1rem 1rem 0 0;
        padding: 0.4rem 1rem;
        border: 1px solid;
        border-radius: 0.4rem;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.31;
        color: rgba(var(--color-base-rgb), 0.5);

        @include media(mob-m) {
            font-size: 1.2rem;
        }
    }

    &__link {
        text-decoration: none;

        &:hover {
            color: $primary;
        }
    }
}