/* ------- vacancy-item -------- */
.vacancy-item {
    border: 1px solid transparent;
    border-top-color: var(--color-line);
    transition: $duration border-radius, $duration border-color;

	&__header {
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto auto;
        align-items: flex-start;
        gap: 1rem 4rem;
        padding: 4rem;

        @include media(tab) {
            grid-template-columns: minmax(0, 1fr) auto;
        }

        @include media(mob) {
            padding: 3rem;
        }

        @include media(mob-m) {
            padding: 2rem;
            column-gap: 2rem;
        }

        @include hover {
            .vacancy-item {
                &__title {
                    color: $accent;
                }
    
                &__icon-box {
                    background: $accent;
                }
            }
        }
    }

    &__button-toggle {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:focus-visible {
            outline: none;

            ~ .vacancy-item {
                &__title {
                    color: $accent;
                }
    
                &__icon-box {
                    background: $accent;
                }
            }
        }
    }

    &__title {
        margin: 0;
        align-self: center;
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 120%;
        transition: $duration color;

        @include media(pc) {
            font-size: 2.4rem;
        }

        @include media(mob-m) {
            font-size: 1.8rem;
        }
    }

    &__tags {
        margin-right: -0.5rem;
        min-height: 4rem;
        align-items: center;

        @include media(tab) {
            margin-left: -0.5rem;
            grid-column: span 2;
            order: 1;
        }

        .tags__item {
            margin: 0.5rem;
        }
    }

    &__icon-box {
        position: relative;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        background: var(--color-line);
        transition: $duration background;

        @include media(mob-m) {
            width: 3rem;
            height: 3rem;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 1rem;
            margin-left: -1rem;
            margin-top: -1px;
            width: 2rem;
            height: 2px;
            background: $white;
            transition: $duration opacity;

            @include media(mob-m) {
                width: 1.6rem;
                margin-left: -0.8rem;
            }
        }

        &::after {
            transform: rotate(90deg);
        }

        @include media(tab) {
            align-self: center;
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: max-height $duration ease-out, visibility $duration, opacity $duration;
    }

    &__inner {
        padding: 0 4rem 4rem;

        @include media(tab) {
            padding: 0 3rem 3rem;
        }

        @include media(mob-m) {
            padding: 0 2rem 2rem;
        }
    }

    &__description {
        p {
            margin-bottom: 2rem;
            
            &:last-child {
                margin-bottom: 0;
            }
        }

        

        ul {
            margin-top: 2rem;
            margin-bottom: 3rem;

            &:first-child {
                margin-top: 0;  
            }

            &:last-child {
                
            }
        }

        ol, 
        ul {
            > li {
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__button {
        margin-top: 4rem;

        @include media(mob) {
            margin-top: 3rem;
        }
    }

    &:first-child {
        border-top-color: var(--color-line);
    }

    &:last-child {
        border-bottom-color: var(--color-line);
    }

    &.is-active {
        border-radius: $radius $radius $radius-lg;
        border-color: $base-color;

        .vacancy-item__content {
            visibility: visible;
            opacity: 1;
        }

        .vacancy-item__tags {
            .tags__item {
                color: $base-color;
            }
        }

        .vacancy-item__icon-box {
            background: $base-color;

            &::after {
                opacity: 0;
            }
        }

        + .vacancy-item {
            border-top-color: transparent;
        }
    }

    &.is-visible {
        .vacancy-item__content {
            overflow: visible;
            max-height: none;
        }
    }
}