---
import Input from '@components/modules/Input.astro';
import Button from '@components/modules/Button.astro';
import Modal from '@components/modules/Modal.astro';
---
<Modal id="modal_respond" class="modal-contact" title="Откликнуться" isLogo={true}>
    <div class="modal-contact__graphic">
        <span class="modal-contact__graphic-strip"></span>  
        <span class="modal-contact__graphic-ball"></span>  
        <svg class="modal-contact__graphic-waves" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 46.7019C0 50.3703 2.96296 53.3333 6.70194 53.3333C10.3704 53.3333 13.3333 50.3703 13.3333 46.7019C10.0882 46.7019 2.82187 46.7019 0 46.7019Z" fill="black"/>
            <path d="M26.6666 6.70194C26.6666 3.03351 23.7036 0 20.0352 0C16.3668 0 13.3333 2.96296 13.3333 6.70194C16.5079 6.70194 23.7742 6.70194 26.6666 6.70194Z" fill="black"/>
            <path d="M53.3333 6.70194C53.3333 3.03351 50.3704 0 46.6314 0C42.963 0 40 2.96296 40 6.70194C43.1746 6.70194 50.4409 6.70194 53.3333 6.70194Z" fill="black"/>
            <path d="M80.0001 6.70194C80.0001 3.03351 77.0371 0 73.3687 0C69.7003 0 66.6667 2.96296 66.6667 6.70194C69.8414 6.70194 77.1077 6.70194 80.0001 6.70194Z" fill="black"/>
            <path d="M53.3333 6.7019C53.3333 10.3703 56.2962 13.3333 59.9646 13.3333C63.6331 13.3333 66.596 10.3703 66.596 6.7019C63.4214 6.7019 56.1551 6.7019 53.3333 6.7019Z" fill="black"/>
            <path d="M26.6667 6.7019C26.6667 10.3703 29.6297 13.3333 33.3687 13.3333C37.0371 13.3333 40.0706 10.3703 40.0706 6.7019C36.7549 6.7019 29.4886 6.7019 26.6667 6.7019Z" fill="black"/>
            <path d="M0 6.7019C0 10.3703 2.96296 13.3333 6.70194 13.3333C10.3704 13.3333 13.3333 10.3703 13.3333 6.7019C10.0882 6.7019 2.82187 6.7019 0 6.7019Z" fill="black"/>
            <path d="M26.6666 20.0352C26.6666 16.3668 23.7036 13.3333 20.0352 13.3333C16.3668 13.3333 13.3333 16.2962 13.3333 20.0352C16.5079 20.0352 23.7742 20.0352 26.6666 20.0352Z" fill="black"/>
            <path d="M53.3333 20.0352C53.3333 16.3668 50.3704 13.3333 46.6314 13.3333C42.963 13.3333 40 16.2962 40 20.0352C43.1746 20.0352 50.4409 20.0352 53.3333 20.0352Z" fill="black"/>
            <path d="M80.0001 20.0352C80.0001 16.3668 77.0371 13.3333 73.3687 13.3333C69.7003 13.3333 66.6667 16.2962 66.6667 20.0352C69.8414 20.0352 77.1077 20.0352 80.0001 20.0352Z" fill="black"/>
            <path d="M53.3333 20.0352C53.3333 23.7036 56.2962 26.6666 59.9646 26.6666C63.6331 26.6666 66.596 23.7036 66.596 20.0352C63.4214 20.0352 56.1551 20.0352 53.3333 20.0352Z" fill="black"/>
            <path d="M26.6667 20.0352C26.6667 23.7036 29.6297 26.6666 33.3687 26.6666C37.0371 26.6666 40.0706 23.7036 40.0706 20.0352C36.7549 20.0352 29.4886 20.0352 26.6667 20.0352Z" fill="black"/>
            <path d="M0 20.0352C0 23.7036 2.96296 26.6666 6.70194 26.6666C10.3704 26.6666 13.3333 23.7036 13.3333 20.0352C10.0882 20.0352 2.82187 20.0352 0 20.0352Z" fill="black"/>
            <path d="M26.6666 33.3687C26.6666 29.7003 23.7036 26.6667 20.0352 26.6667C16.3668 26.6667 13.3333 29.6297 13.3333 33.3687C16.5079 33.3687 23.7742 33.3687 26.6666 33.3687Z" fill="black"/>
            <path d="M53.3333 33.3687C53.3333 29.7003 50.3704 26.6667 46.6314 26.6667C42.963 26.6667 40 29.6297 40 33.3687C43.1746 33.3687 50.4409 33.3687 53.3333 33.3687Z" fill="black"/>
            <path d="M80.0001 33.3687C80.0001 29.7003 77.0371 26.6667 73.3687 26.6667C69.7003 26.6667 66.6667 29.6297 66.6667 33.3687C69.8414 33.3687 77.1077 33.3687 80.0001 33.3687Z" fill="black"/>
            <path d="M53.3333 33.3687C53.3333 37.0371 56.2962 40 59.9646 40C63.6331 40 66.596 37.0371 66.596 33.3687C63.4214 33.3687 56.1551 33.3687 53.3333 33.3687Z" fill="black"/>
            <path d="M26.6667 33.3687C26.6667 37.0371 29.6297 40 33.3687 40C37.0371 40 40.0706 37.0371 40.0706 33.3687C36.7549 33.3687 29.4886 33.3687 26.6667 33.3687Z" fill="black"/>
            <path d="M0 33.3687C0 37.0371 2.96296 40 6.70194 40C10.3704 40 13.3333 37.0371 13.3333 33.3687C10.0882 33.3687 2.82187 33.3687 0 33.3687Z" fill="black"/>
            <path d="M26.6666 46.7019C26.6666 43.0335 23.7036 40.0706 20.0352 40.0706C16.3668 40.0706 13.3333 43.0335 13.3333 46.7019C16.5079 46.7019 23.7742 46.7019 26.6666 46.7019Z" fill="black"/>
            <path d="M53.3333 46.7019C53.3333 43.0335 50.3704 40.0706 46.6314 40.0706C42.963 40.0706 40 43.0335 40 46.7019C43.1746 46.7019 50.4409 46.7019 53.3333 46.7019Z" fill="black"/>
            <path d="M80.0001 46.7019C80.0001 43.0335 77.0371 40.0706 73.3687 40.0706C69.7003 40.0706 66.6667 43.0335 66.6667 46.7019C69.8414 46.7019 77.1077 46.7019 80.0001 46.7019Z" fill="black"/>
            <path d="M53.3333 46.7019C53.3333 50.3703 56.2962 53.3333 59.9646 53.3333C63.6331 53.3333 66.596 50.3703 66.596 46.7019C63.4214 46.7019 56.1551 46.7019 53.3333 46.7019Z" fill="black"/>
            <path d="M26.6667 46.7019C26.6667 50.3703 29.6297 53.3333 33.3687 53.3333C37.0371 53.3333 40.0706 50.3703 40.0706 46.7019C36.7549 46.7019 29.4886 46.7019 26.6667 46.7019Z" fill="black"/>
            <path d="M26.6666 60.0352C26.6666 56.3668 23.7036 53.4038 20.0352 53.4038C16.3668 53.4038 13.3333 56.3668 13.3333 60.0352C16.5079 60.0352 23.7742 60.0352 26.6666 60.0352Z" fill="black"/>
            <path d="M53.3333 60.0352C53.3333 56.3668 50.3704 53.4038 46.6314 53.4038C42.963 53.4038 40 56.3668 40 60.0352C43.1746 60.0352 50.4409 60.0352 53.3333 60.0352Z" fill="black"/>
            <path d="M80.0001 60.0352C80.0001 56.3668 77.0371 53.4038 73.3687 53.4038C69.7003 53.4038 66.6667 56.3668 66.6667 60.0352C69.8414 60.0352 77.1077 60.0352 80.0001 60.0352Z" fill="black"/>
            <path d="M53.3333 60.0354C53.3333 63.7038 56.2962 66.6668 59.9646 66.6668C63.6331 66.6668 66.596 63.7038 66.596 60.0354C63.4214 60.0354 56.1551 60.0354 53.3333 60.0354Z" fill="black"/>
            <path d="M26.6667 60.0354C26.6667 63.7038 29.6297 66.6668 33.3687 66.6668C37.0371 66.6668 40.0706 63.7038 40.0706 60.0354C36.7549 60.0354 29.4886 60.0354 26.6667 60.0354Z" fill="black"/>
            <path d="M0 60.0354C0 63.7038 2.96296 66.6668 6.70194 66.6668C10.3704 66.6668 13.3333 63.7038 13.3333 60.0354C10.0882 60.0354 2.82187 60.0354 0 60.0354Z" fill="black"/>
            <path d="M26.6666 73.3687C26.6666 69.7003 23.7036 66.6667 20.0352 66.6667C16.3668 66.6667 13.3333 69.6297 13.3333 73.3687C16.5079 73.3687 23.7742 73.3687 26.6666 73.3687Z" fill="black"/>
            <path d="M53.3333 73.3687C53.3333 69.7003 50.3704 66.6667 46.6314 66.6667C42.963 66.6667 40 69.6297 40 73.3687C43.1746 73.3687 50.4409 73.3687 53.3333 73.3687Z" fill="black"/>
            <path d="M80.0001 73.3687C80.0001 69.7003 77.0371 66.6667 73.3687 66.6667C69.7003 66.6667 66.6667 69.6297 66.6667 73.3687C69.8414 73.3687 77.1077 73.3687 80.0001 73.3687Z" fill="black"/>
            <path d="M53.3333 73.3687C53.3333 77.0371 56.2962 80 59.9646 80C63.6331 80 66.596 77.0371 66.596 73.3687C63.4214 73.3687 56.1551 73.3687 53.3333 73.3687Z" fill="black"/>
            <path d="M26.6667 73.3687C26.6667 77.0371 29.6297 80 33.3687 80C37.0371 80 40.0706 77.0371 40.0706 73.3687C36.7549 73.3687 29.4886 73.3687 26.6667 73.3687Z" fill="black"/>
            <path d="M0 73.3687C0 77.0371 2.96296 80 6.70194 80C10.3704 80 13.3333 77.0371 13.3333 73.3687C10.0882 73.3687 2.82187 73.3687 0 73.3687Z" fill="black"/>
        </svg>
    </div>
    <form class="modal-contact__form form" data-js-form>
        <div class="modal-contact__form-row">
            <div class="form__grid">
                <div class="form__field">
                    <Input name="name" placeholder="Имя" data-js-form-field></Input>
                </div>
                <div class="form__field">
                    <Input type={'email'} name="email" placeholder="E-mail" data-js-form-field></Input>
                </div>
                <div class="form__field">
                    <Input name="phone" placeholder="Телефон" data-js-form-field></Input>
                </div>
                <div class="form__field">
                    <Input type={'textarea'} name="message" placeholder="Коротко о себе" rows=7" data-js-form-field></Input>
                </div>
            </div>
        </div>
        
        <div class="modal-contact__form-footer">
            
           
            <div class="modal-contact__form-button-wrapper form__button-wrapper">
                <div class="modal-contact__form-attach-wrapper form__attach-wrapper">
                    <div class="form__label">Приложить резюме</div>
                    <label class="form__attach" data-attach>
                        <input class="form__attach-input" type="file" name="file"  data-attach-input>
                        <span class="form__attach-text" data-attach-text>Выберите файл</span>
                        <span class="form__attach-focused"></span>
                    </label>
                </div>
               
                <Button type={'submit'} class="form__button" icon="arrow">Отправить</Button>
            </div>
            <div class="modal-contact__form-agreement-wrapper">
                <div class="modal-contact__form-agreement form__agreement">
                    Нажимая на кнопку "Отправить" вы даете <a href="">согласие</a> на обработку персональных данных.
                </div>
                <div class="modal-contact__form-agreement form__agreement">
                    This site is&nbsp;protected by&nbsp;reCAPTCHA and the Google <a href="">Privacy Policy</a> and <a href="">Terms of&nbsp;Service</a> apply.
                </div>
            </div>
        </div>

    </form>
</Modal>
