/* ------- portfolio -------- */
.portfolio {
	&__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 9.5rem;

        @include media(pc) {
            margin-bottom: 6rem;
        }

        @include media(mob-m) {
            margin-bottom: 3rem; 
            padding-top: 1rem;
        }
    }

    &__title {
        margin: 0;
    }

    &__amount {
        display: flex;
        margin-left: auto;

        @include media(tab) {
            margin-top: 3rem;
        }
    }

    &__amount-box {
        display: flex;
        align-items: baseline;
        padding: 1.5rem 3rem 1.9rem;
        border-radius: $radius 6rem 6rem $radius;
        width: 44rem;
        height: 12rem;
        background: $accent;
        color: $white;

        @include media(netbook) {
            width: 34rem;
            height: 10rem;
        }

        @include media(mob-m) {
            padding: 0.8rem 1.4rem 0.95rem;
            border-top-right-radius: 3rem;
            border-bottom-right-radius: 3rem;
            width: 20rem;
            height: 5.4rem;
        }
    }

    &__amount-number {
        position: relative;
        margin-right: 1rem;
        font-weight: 800;
        font-size: 9.6rem;
        line-height: 90%;
        letter-spacing: -0.02em;

        @include media(netbook) {
            font-size: 8rem;
        }

        @include media(mob-m) {

            font-size: 4rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0.9rem;
            right: -3.9rem;
            width: 2.9rem;
            height: 2.9rem;
            background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5252 29V17.5252H29V11.4748H17.5252V0L11.4748 0V11.4748H0L0 17.5252H11.4748V29H17.5252Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: 100%;

            @include media(netbook) {
                width: 2.5rem;
                height: 2.5rem;
            }

            @include media(mob-m) {
                top: 0.5rem;
                right: -2.3rem;
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }

    &__amount-number-hidden {
        visibility: hidden;
        pointer-events: none;
    }

    &__amount-number-text {
        position: absolute;
        left: 0;

    }

    &__amount-text {
        font-weight: 800;
        font-size: 2.4rem;
        line-height: 100%;
        letter-spacing: -0.02em;

        @include media(netbook) {
            font-size: 2rem;
        }

        @include media(mob-m) {
            font-size: 1.4rem;
        }
    }

    &__amount-circles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        border-radius: 50%;
        padding: 0.6rem;
        width: 12rem;
        height: 12rem;
        background: $accent;

        @include media(netbook) {
            padding: 0.4rem;
            width: 10rem;
            height: 10rem;
        }

        @include media(mob-m) {
            padding: 0.25rem;
            width: 5.4rem;
            height: 5.4rem;
        }
    }

    &__amount-circles-icon {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__amount-ellipse {
        position: relative;
        flex: none;
        width: 6rem;
        height: 12rem;
        overflow: hidden;

        @include media(netbook) {
            width: 5rem;
            height: 10rem;
        }

        @include media(mob-m) {
            width: 2.7rem;
            height: 5.4rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            width: 12rem;
            height: 12rem;
            background: $accent;

            @include media(netbook) {
                width: 10rem;
                height: 10rem;
            }

            @include media(mob-m) {
                width: 5.4rem;
                height: 5.4rem;
            }
        }
    }

    &__items {
        display: grid;
        gap: 6rem;

        @include grid-columns(2);

        @include media(pc) {
            column-gap: 4rem;
        }

        @include media(mob) {
            gap: 4rem;

            @include grid-columns(1);
        }

        @include media(mob-m) {
            gap: 3rem;
        }
    }

    &__item {
        &:nth-child(3n + 1) {
            @include media-min(mob) {
                grid-column: span 2;
            }

            @include media-min(tab) {
                display: grid;
                grid-template-columns: minmax(0, 67.75fr) minmax(0, 32.25fr);
                gap: 4rem;
                align-items: center;
            }

            .project-item {
                &__image-box {
                    @include media-min(tab) {
                        padding-top: 56.2%;
                    }
                }

                &__title {
                    @include media-min(tab) {
                        font-size: 2.8rem;
                    }

                    @include media-min(pc) {
                        font-size: 3.2rem;
                    }
                }

                &__category {
                    

                    @include media-min(tab) {
                        font-size: 1.8rem;
                    }

                    @include media-min(pc) {
                        font-size: 2rem;
                    }
                }

                &__info {
                    display: block;
                    margin-right: 0;
                }

                &__info-item {
                    margin-right: 0;
                }
            }
        }

        &:nth-child(6n + 4) {
            @include media-min(tab) {
                grid-template-columns: minmax(0, 32.25fr) minmax(0, 67.75fr);
            }

            .project-item__content  {
                @include media-min(tab) {
                    order: -1;
                }
            }
        }

        &:nth-child(4n + 2) {
            @include media-min(tab) {
                grid-template-columns: minmax(0, 32.25fr) minmax(0, 67.75fr);

                .project-item {
                    &__content {
                        order: -1;
                    }
                }
            }
        }

        &:nth-child(3n + 3) {
            @include media-min(mob) {
                transition-delay: 0.2s;
            }
        }
    }

    &__show-more {
        margin-top: 10rem;

        @include media(tab) {
            margin-top: 8rem;
        }

        @include media(mob) {
            margin-top: 6rem;
        }

        @include media(mob-m) {
            margin-top: 5rem;
        }
    }

    &__tab-menu {
        margin-bottom: 9rem;

        @include media(tab) {
            margin-bottom: 5rem;
        }

        @include media(mob) {
            margin-bottom: 4rem;
        }

        @include media(mob-m) {
            margin-bottom: 3rem;
        }
    }

    &__description {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap: 4rem;
        margin-top: $section-space;
        padding-top: $section-space;
        border-top: 1px solid var(--color-grey-5);

        @include media(tab) {
            grid-template-columns: minmax(0, 1fr);
        }

        @include media(mob-m) {
            gap: 3rem;
        }
    }

    &__description-column {
    }

    &__description-text {
        max-width: 53.8rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 140%;

        @include media(tab) {
            max-width: none;
        }

        @include media(mob-m) {
            font-size: 1.6rem;
        }

        p {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_main {
            max-width: 57rem;
            font-size: 3.2rem;
            line-height: 130%;

            @include media(tab) {
                max-width: none;
                font-size: 2.4rem;
            }

            @include media(mob-m) {
                font-size: 2rem;
            }
        }
    }

    &_home {
        @include media(tab) {
            padding-top: calc($section-space - 3rem);
        }

        .portfolio {
            &__title {
                margin: 0 3rem 0 0;
        
                @include media(tab) {
                    margin-top: 3rem;
                }
            }

            &__heading {
                @include media(mob-m) {
                    margin-bottom: 5rem;
                }
            }
        }
    }

    &_page {
        padding-top: var(--section-space-md);

        @include media(tab) {
            padding-top: calc(var(--section-space-md) - 3rem);
        }

        @include media(mob-m) {
            padding-top: calc(var(--section-space-md) - 1.5rem);
        }
    }
}