/* ------- Awards page -------- */
.p-awards {
    padding-top: var(--section-space-md);

    &__item {
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: var(--section-space-md);
        align-items: flex-start;
        width: 100%;

        @include media(tab-l) {
            gap: 6rem;
        }

        &:nth-child(8n + 1) {
            .p-awards__item-graphic {
                left: 66%;
                top: 0;
                width: 12.7rem;
                height: 12.7rem;
                mask-image: url("data:image/svg+xml,%3Csvg width='127' height='127' viewBox='0 0 127 127' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M126.886 9.07142C126.886 4.03174 122.854 0 117.814 0V9.07142H126.886Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.744 9.07178C108.744 14.1115 112.776 18.1432 117.816 18.1432V9.07178H108.744Z' fill='%23F4F4F4'/%3E%3Cpath d='M126.886 27.2145C126.886 22.1748 122.854 18.1431 117.814 18.1431V27.2145H126.886Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.744 27.2148C108.744 32.2545 112.776 36.2863 117.816 36.2863V27.2148H108.744Z' fill='%23F4F4F4'/%3E%3Cpath d='M126.886 45.3571C126.886 40.3174 122.854 36.2856 117.814 36.2856V45.3571H126.886Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.744 45.3574C108.744 50.3971 112.776 54.4288 117.816 54.4288V45.3574H108.744Z' fill='%23F4F4F4'/%3E%3Cpath d='M126.886 63.5001C126.886 58.4605 122.854 54.4287 117.814 54.4287V63.5001H126.886Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.744 63.5005C108.744 68.5402 112.776 72.5719 117.816 72.5719V63.5005H108.744Z' fill='%23F4F4F4'/%3E%3Cpath d='M126.886 81.6427C126.886 76.603 122.854 72.5713 117.814 72.5713V81.6427H126.886Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.744 81.6431C108.744 86.6827 112.776 90.7145 117.816 90.7145V81.6431H108.744Z' fill='%23F4F4F4'/%3E%3Cpath d='M126.886 99.7858C126.886 94.7461 122.854 90.7144 117.814 90.7144V99.7858H126.886Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.744 99.7861C108.744 104.826 112.776 108.858 117.816 108.858V99.7861H108.744Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.745 9.07142C108.745 4.03174 104.714 0 99.6738 0V9.07142H108.745Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6035 9.07178C90.6035 14.1115 94.6352 18.1432 99.6749 18.1432V9.07178H90.6035Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.745 27.2145C108.745 22.1748 104.714 18.1431 99.6738 18.1431V27.2145H108.745Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6035 27.2148C90.6035 32.2545 94.6352 36.2863 99.6749 36.2863V27.2148H90.6035Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.745 45.3571C108.745 40.3174 104.714 36.2856 99.6738 36.2856V45.3571H108.745Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6035 45.3574C90.6035 50.3971 94.6352 54.4288 99.6749 54.4288V45.3574H90.6035Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.745 63.5001C108.745 58.4605 104.714 54.4287 99.6738 54.4287V63.5001H108.745Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6035 63.5005C90.6035 68.5402 94.6352 72.5719 99.6749 72.5719V63.5005H90.6035Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.745 81.6427C108.745 76.603 104.714 72.5713 99.6738 72.5713V81.6427H108.745Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6035 81.6431C90.6035 86.6827 94.6352 90.7145 99.6749 90.7145V81.6431H90.6035Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.745 99.7858C108.745 94.7461 104.714 90.7144 99.6738 90.7144V99.7858H108.745Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6035 99.7861C90.6035 104.826 94.6352 108.858 99.6749 108.858V99.7861H90.6035Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6007 9.07142C90.6007 4.03174 86.569 0 81.5293 0V9.07142H90.6007Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5703 9.07178C72.5703 14.1115 76.6021 18.1432 81.6417 18.1432V9.07178H72.5703Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6007 27.2145C90.6007 22.1748 86.569 18.1431 81.5293 18.1431V27.2145H90.6007Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5703 27.2148C72.5703 32.2545 76.6021 36.2863 81.6417 36.2863V27.2148H72.5703Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6007 45.3571C90.6007 40.3174 86.569 36.2856 81.5293 36.2856V45.3571H90.6007Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5703 45.3574C72.5703 50.3971 76.6021 54.4288 81.6417 54.4288V45.3574H72.5703Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6007 63.5001C90.6007 58.4605 86.569 54.4287 81.5293 54.4287V63.5001H90.6007Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5703 63.5005C72.5703 68.5402 76.6021 72.5719 81.6417 72.5719V63.5005H72.5703Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6007 81.6427C90.6007 76.603 86.569 72.5713 81.5293 72.5713V81.6427H90.6007Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5703 81.6431C72.5703 86.6827 76.6021 90.7145 81.6417 90.7145V81.6431H72.5703Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6007 99.7858C90.6007 94.7461 86.569 90.7144 81.5293 90.7144V99.7858H90.6007Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5703 99.7861C72.5703 104.826 76.6021 108.858 81.6417 108.858V99.7861H72.5703Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5714 9.07142C72.5714 4.03174 68.5397 0 63.5 0V9.07142H72.5714Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4297 9.07178C54.4297 14.1115 58.4614 18.1432 63.5011 18.1432V9.07178H54.4297Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5714 27.2145C72.5714 22.1748 68.5397 18.1431 63.5 18.1431V27.2145H72.5714Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4297 27.2148C54.4297 32.2545 58.4614 36.2863 63.5011 36.2863V27.2148H54.4297Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5714 45.3571C72.5714 40.3174 68.5397 36.2856 63.5 36.2856V45.3571H72.5714Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4297 45.3574C54.4297 50.3971 58.4614 54.4288 63.5011 54.4288V45.3574H54.4297Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5714 63.5001C72.5714 58.4605 68.5397 54.4287 63.5 54.4287V63.5001H72.5714Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4297 63.5005C54.4297 68.5402 58.4614 72.5719 63.5011 72.5719V63.5005H54.4297Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5714 81.6427C72.5714 76.603 68.5397 72.5713 63.5 72.5713V81.6427H72.5714Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4297 81.6431C54.4297 86.6827 58.4614 90.7145 63.5011 90.7145V81.6431H54.4297Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5714 99.7858C72.5714 94.7461 68.5397 90.7144 63.5 90.7144V99.7858H72.5714Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4297 99.7861C54.4297 104.826 58.4614 108.858 63.5011 108.858V99.7861H54.4297Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4288 9.07142C54.4288 4.03174 50.3971 0 45.3574 0V9.07142H54.4288Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2871 9.07178C36.2871 14.1115 40.3188 18.1432 45.3585 18.1432V9.07178H36.2871Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4288 27.2145C54.4288 22.1748 50.3971 18.1431 45.3574 18.1431V27.2145H54.4288Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2871 27.2148C36.2871 32.2545 40.3188 36.2863 45.3585 36.2863V27.2148H36.2871Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4288 45.3571C54.4288 40.3174 50.3971 36.2856 45.3574 36.2856V45.3571H54.4288Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2871 45.3574C36.2871 50.3971 40.3188 54.4288 45.3585 54.4288V45.3574H36.2871Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4288 63.5001C54.4288 58.4605 50.3971 54.4287 45.3574 54.4287V63.5001H54.4288Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2871 63.5005C36.2871 68.5402 40.3188 72.5719 45.3585 72.5719V63.5005H36.2871Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4288 81.6427C54.4288 76.603 50.3971 72.5713 45.3574 72.5713V81.6427H54.4288Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2871 81.6431C36.2871 86.6827 40.3188 90.7145 45.3585 90.7145V81.6431H36.2871Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4288 99.7858C54.4288 94.7461 50.3971 90.7144 45.3574 90.7144V99.7858H54.4288Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2871 99.7861C36.2871 104.826 40.3188 108.858 45.3585 108.858V99.7861H36.2871Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2863 9.07142C36.2863 4.03174 32.2545 0 27.2148 0V9.07142H36.2863Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1445 9.07178C18.1445 14.1115 22.1763 18.1432 27.216 18.1432V9.07178H18.1445Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2863 27.2145C36.2863 22.1748 32.2545 18.1431 27.2148 18.1431V27.2145H36.2863Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1445 27.2148C18.1445 32.2545 22.1763 36.2863 27.216 36.2863V27.2148H18.1445Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2863 45.3571C36.2863 40.3174 32.2545 36.2856 27.2148 36.2856V45.3571H36.2863Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1445 45.3574C18.1445 50.3971 22.1763 54.4288 27.216 54.4288V45.3574H18.1445Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2863 63.5001C36.2863 58.4605 32.2545 54.4287 27.2148 54.4287V63.5001H36.2863Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1445 63.5005C18.1445 68.5402 22.1763 72.5719 27.216 72.5719V63.5005H18.1445Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2863 81.6427C36.2863 76.603 32.2545 72.5713 27.2148 72.5713V81.6427H36.2863Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1445 81.6431C18.1445 86.6827 22.1763 90.7145 27.216 90.7145V81.6431H18.1445Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2863 99.7858C36.2863 94.7461 32.2545 90.7144 27.2148 90.7144V99.7858H36.2863Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1445 99.7861C18.1445 104.826 22.1763 108.858 27.216 108.858V99.7861H18.1445Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1417 9.07142C18.1417 4.03174 14.11 0 9.07031 0V9.07142H18.1417Z' fill='%23F4F4F4'/%3E%3Cpath d='M0 9.07178C0 14.1115 4.03172 18.1432 9.07139 18.1432V9.07178H0Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1417 27.2145C18.1417 22.1748 14.11 18.1431 9.07031 18.1431V27.2145H18.1417Z' fill='%23F4F4F4'/%3E%3Cpath d='M0 27.2148C0 32.2545 4.03172 36.2863 9.07139 36.2863V27.2148H0Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1417 45.3566C18.1417 40.3169 14.11 36.2852 9.07031 36.2852V45.3566H18.1417Z' fill='%23F4F4F4'/%3E%3Cpath d='M0 45.3569C0 50.3966 4.03172 54.4284 9.07139 54.4284V45.3569H0Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1417 63.5001C18.1417 58.4605 14.11 54.4287 9.07031 54.4287V63.5001H18.1417Z' fill='%23F4F4F4'/%3E%3Cpath d='M0 63.5C0 68.5397 4.03172 72.5714 9.07139 72.5714V63.5H0Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1417 81.6427C18.1417 76.603 14.11 72.5713 9.07031 72.5713V81.6427H18.1417Z' fill='%23F4F4F4'/%3E%3Cpath d='M0 81.6426C0 86.6823 4.03172 90.714 9.07139 90.714V81.6426H0Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1417 99.7858C18.1417 94.7461 14.11 90.7144 9.07031 90.7144V99.7858H18.1417Z' fill='%23F4F4F4'/%3E%3Cpath d='M0 99.7861C0 104.826 4.03172 108.858 9.07139 108.858V99.7861H0Z' fill='%23F4F4F4'/%3E%3Cpath d='M126.886 117.928C126.886 112.889 122.854 108.857 117.814 108.857V117.928H126.886Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.744 117.929C108.744 122.968 112.776 127 117.816 127V117.929H108.744Z' fill='%23F4F4F4'/%3E%3Cpath d='M108.745 117.928C108.745 112.889 104.714 108.857 99.6738 108.857V117.928H108.745Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6035 117.929C90.6035 122.968 94.6352 127 99.6749 127V117.929H90.6035Z' fill='%23F4F4F4'/%3E%3Cpath d='M90.6007 117.928C90.6007 112.889 86.569 108.857 81.5293 108.857V117.928H90.6007Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5703 117.929C72.5703 122.968 76.6021 127 81.6417 127V117.929H72.5703Z' fill='%23F4F4F4'/%3E%3Cpath d='M72.5714 117.928C72.5714 112.889 68.5397 108.857 63.5 108.857V117.928H72.5714Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4297 117.929C54.4297 122.968 58.4614 127 63.5011 127V117.929H54.4297Z' fill='%23F4F4F4'/%3E%3Cpath d='M54.4288 117.928C54.4288 112.889 50.3971 108.857 45.3574 108.857V117.928H54.4288Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2871 117.929C36.2871 122.968 40.3188 127 45.3585 127V117.929H36.2871Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.2863 117.928C36.2863 112.889 32.2545 108.857 27.2148 108.857V117.928H36.2863Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1445 117.929C18.1445 122.968 22.1763 127 27.216 127V117.929H18.1445Z' fill='%23F4F4F4'/%3E%3Cpath d='M18.1417 117.928C18.1417 112.889 14.11 108.857 9.07031 108.857V117.928H18.1417Z' fill='%23F4F4F4'/%3E%3Cpath d='M0 117.928C0 122.968 4.03172 127 9.07139 127V117.928H0Z' fill='%23F4F4F4'/%3E%3C/svg%3E%0A");
            }
        }

        &:nth-child(8n + 3) {
            .p-awards__item-graphic {
                left: 62%;
                top: -22%;
                width: 13.2rem;
                height: 6.6rem;
                background: none;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    width: 100%;
                    height: 200%;
                    background-color: var(--color-grey-5);
                }
            }
        }

        &:nth-child(8n + 5) {
            .p-awards__item-graphic {
                left: -9%;
                top: 45%;
                width: 12.5rem;
                height: 12.5rem;
                mask-image: url("data:image/svg+xml,%3Csvg width='125' height='125' viewBox='0 0 125 125' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M124.8 62.3999C124.8 27.9925 96.8073 0 62.3999 0C27.9925 0 0 27.9925 0 62.3999C0 96.8073 27.9925 124.8 62.3999 124.8C96.8073 124.8 124.8 96.8073 124.8 62.3999ZM3.96561 62.3999C3.96561 30.2086 30.2086 3.9656 62.3999 3.9656C94.5913 3.9656 120.834 30.2086 120.834 62.3999C120.834 94.5913 94.5913 120.834 62.3999 120.834C30.0919 120.834 3.96561 94.5913 3.96561 62.3999Z' fill='%23F4F4F4'/%3E%3Cpath d='M116.869 62.4C116.869 32.3081 92.3756 7.93127 62.4003 7.93127C32.3084 7.93127 7.93164 32.4247 7.93164 62.4C7.93164 92.4919 32.4251 116.985 62.4003 116.985C92.4923 116.869 116.869 92.4919 116.869 62.4ZM11.7806 62.4C11.7806 34.5241 34.5245 11.7802 62.4003 11.7802C90.2762 11.7802 113.02 34.5241 113.02 62.4C113.02 90.2758 90.2762 113.02 62.4003 113.02C34.5245 113.02 11.7806 90.2758 11.7806 62.4Z' fill='%23F4F4F4'/%3E%3Cpath d='M109.054 62.3999C109.054 36.6235 88.06 15.7458 62.4002 15.7458C36.6238 15.7458 15.7461 36.7401 15.7461 62.3999C15.7461 88.1763 36.7405 109.054 62.4002 109.054C88.1766 109.054 109.054 88.1763 109.054 62.3999ZM19.5951 62.3999C19.5951 38.8396 38.8399 19.5948 62.4002 19.5948C85.9606 19.5948 105.205 38.8396 105.205 62.3999C105.205 85.9603 85.9606 105.205 62.4002 105.205C38.8399 105.205 19.5951 85.9603 19.5951 62.3999Z' fill='%23F4F4F4'/%3E%3Cpath d='M101.24 62.3999C101.24 40.939 83.861 23.5603 62.4001 23.5603C40.9392 23.5603 23.5605 40.939 23.5605 62.3999C23.5605 83.8608 40.9392 101.239 62.4001 101.239C83.861 101.239 101.24 83.8608 101.24 62.3999ZM27.4095 62.3999C27.4095 43.155 43.0386 27.4093 62.4001 27.4093C81.6449 27.4093 97.3907 43.0384 97.3907 62.3999C97.3907 81.6447 81.7616 97.3905 62.4001 97.3905C43.1553 97.3905 27.4095 81.6447 27.4095 62.3999Z' fill='%23F4F4F4'/%3E%3Cpath d='M93.425 62.3999C93.425 45.3712 79.5454 31.3749 62.4 31.3749C45.3712 31.3749 31.375 45.2545 31.375 62.3999C31.375 79.4287 45.2546 93.4249 62.4 93.4249C79.4288 93.4249 93.425 79.4287 93.425 62.3999ZM35.3406 62.3999C35.3406 47.4706 47.4707 35.3405 62.4 35.3405C77.3293 35.3405 89.4594 47.4706 89.4594 62.3999C89.4594 77.3293 77.3293 89.4593 62.4 89.4593C47.4707 89.4593 35.3406 77.3293 35.3406 62.3999Z' fill='%23F4F4F4'/%3E%3Cpath d='M85.4942 62.3998C85.4942 49.6866 75.1137 39.306 62.4004 39.306C49.6872 39.306 39.3066 49.6866 39.3066 62.3998C39.3066 75.1131 49.6872 85.4936 62.4004 85.4936C75.1137 85.4936 85.4942 75.1131 85.4942 62.3998ZM43.1556 62.3998C43.1556 51.786 51.7866 43.155 62.4004 43.155C73.0142 43.155 81.6453 51.786 81.6453 62.3998C81.6453 73.0136 73.0142 81.6446 62.4004 81.6446C51.7866 81.6446 43.1556 73.0136 43.1556 62.3998Z' fill='%23F4F4F4'/%3E%3Cpath d='M77.6796 62.4C77.6796 54.0022 70.7981 47.1207 62.4003 47.1207C54.0026 47.1207 47.1211 54.0022 47.1211 62.4C47.1211 70.7977 54.0026 77.6792 62.4003 77.6792C70.7981 77.6792 77.6796 70.7977 77.6796 62.4ZM50.9701 62.4C50.9701 56.1017 56.102 50.9697 62.4003 50.9697C68.6986 50.9697 73.8306 56.1017 73.8306 62.4C73.8306 68.6983 68.6986 73.8302 62.4003 73.8302C56.102 73.8302 50.9701 68.6983 50.9701 62.4Z' fill='%23F4F4F4'/%3E%3Cpath d='M69.8649 62.3998C69.8649 58.3176 66.4824 54.9352 62.4002 54.9352C58.318 54.9352 54.9355 58.3176 54.9355 62.3998C54.9355 66.4821 58.318 69.8645 62.4002 69.8645C66.4824 69.8645 69.8649 66.4821 69.8649 62.3998ZM58.7845 62.3998C58.7845 60.417 60.4174 58.7841 62.4002 58.7841C64.383 58.7841 66.0159 60.417 66.0159 62.3998C66.0159 64.3826 64.383 66.0155 62.4002 66.0155C60.4174 65.8989 58.7845 64.3826 58.7845 62.3998Z' fill='%23F4F4F4'/%3E%3C/svg%3E%0A");

                @include media(tab-l) {
                    top: 20%;
                }
            }
        }

        &:nth-child(8n + 7) {
            .p-awards__item-graphic {
                top: 38%;
                left: 55%;
                width: 12.1rem;
                height: 12.1rem;
                mask-image: url("data:image/svg+xml,%3Csvg width='122' height='121' viewBox='0 0 122 121' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.86408 4.37865C8.86408 6.83496 6.94175 8.75726 4.48544 8.75726C2.02913 8.75726 0 6.83496 0 4.37865C0 1.92234 1.92233 0 4.37864 0C6.83495 0 8.86408 1.92234 8.86408 4.37865Z' fill='%23F4F4F4'/%3E%3Cpath d='M8.86408 32.4661C8.86408 34.9224 6.94175 36.8447 4.48544 36.8447C2.02913 36.8447 0 34.9224 0 32.4661C0 30.0097 1.92233 28.0874 4.37864 28.0874C6.83495 28.0874 8.86408 30.0097 8.86408 32.4661Z' fill='%23F4F4F4'/%3E%3Cpath d='M8.75728 60.5534C8.75728 63.0097 6.83495 64.9321 4.37864 64.9321C1.92233 64.9321 0 63.0097 0 60.5534C0 58.0971 1.92233 56.1748 4.37864 56.1748C6.83495 56.1748 8.75728 58.0971 8.75728 60.5534Z' fill='%23F4F4F4'/%3E%3Cpath d='M8.75728 88.6405C8.75728 91.0968 6.83495 93.0191 4.37864 93.0191C1.92233 93.0191 0 91.0968 0 88.6405C0 86.1842 1.92233 84.2618 4.37864 84.2618C6.83495 84.155 8.75728 86.1842 8.75728 88.6405Z' fill='%23F4F4F4'/%3E%3Cpath d='M8.75728 116.621C8.75728 119.078 6.83495 121 4.37864 121C1.92233 121 0 119.078 0 116.621C0 114.165 1.92233 112.243 4.37864 112.243C6.83495 112.243 8.75728 114.272 8.75728 116.621Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.8452 32.4661C36.8452 34.9224 34.9228 36.8447 32.4665 36.8447C30.0102 36.8447 28.0879 34.9224 28.0879 32.4661C28.0879 30.0097 30.0102 28.0874 32.4665 28.0874C34.9228 28.0874 36.8452 30.0097 36.8452 32.4661Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.8452 60.5534C36.8452 63.0097 34.9228 64.9321 32.4665 64.9321C30.0102 64.9321 28.0879 63.0097 28.0879 60.5534C28.0879 58.0971 30.0102 56.1748 32.4665 56.1748C34.9228 56.1748 36.8452 58.0971 36.8452 60.5534Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.8452 88.6405C36.8452 91.0968 34.9228 93.0191 32.4665 93.0191C30.0102 93.0191 28.0879 91.0968 28.0879 88.6405C28.0879 86.1842 30.0102 84.2618 32.4665 84.2618C34.9228 84.155 36.8452 86.1842 36.8452 88.6405Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.8452 116.621C36.8452 119.078 34.9228 121 32.4665 121C30.0102 121 28.0879 119.078 28.0879 116.621C28.0879 114.165 30.0102 112.243 32.4665 112.243C34.9228 112.243 36.8452 114.272 36.8452 116.621Z' fill='%23F4F4F4'/%3E%3Cpath d='M64.9331 32.4661C64.9331 34.9224 63.0107 36.8447 60.5544 36.8447C58.0981 36.8447 56.1758 34.9224 56.1758 32.4661C56.1758 30.0097 58.0981 28.0874 60.5544 28.0874C63.0107 28.0874 64.9331 30.0097 64.9331 32.4661Z' fill='%23F4F4F4'/%3E%3Cpath d='M64.9331 60.5534C64.9331 63.0097 63.0107 64.9321 60.5544 64.9321C58.0981 64.9321 56.1758 63.0097 56.1758 60.5534C56.1758 58.0971 58.0981 56.1748 60.5544 56.1748C63.0107 56.1748 64.9331 58.0971 64.9331 60.5534Z' fill='%23F4F4F4'/%3E%3Cpath d='M64.9331 88.6405C64.9331 91.0968 63.0107 93.0191 60.5544 93.0191C58.0981 93.0191 56.1758 91.0968 56.1758 88.6405C56.1758 86.1842 58.0981 84.2618 60.5544 84.2618C63.0107 84.155 64.9331 86.1842 64.9331 88.6405Z' fill='%23F4F4F4'/%3E%3Cpath d='M64.9331 116.621C64.9331 119.078 63.0107 121 60.5544 121C58.0981 121 56.1758 119.078 56.1758 116.621C56.1758 114.165 58.0981 112.243 60.5544 112.243C63.0107 112.243 64.9331 114.272 64.9331 116.621Z' fill='%23F4F4F4'/%3E%3Cpath d='M93.019 32.4661C93.019 34.9224 91.0967 36.8447 88.6404 36.8447C86.184 36.8447 84.2617 34.9224 84.2617 32.4661C84.2617 30.0097 86.184 28.0874 88.6404 28.0874C91.0967 28.0874 93.019 30.0097 93.019 32.4661Z' fill='%23F4F4F4'/%3E%3Cpath d='M93.019 60.5534C93.019 63.0097 91.0967 64.9321 88.6404 64.9321C86.184 64.9321 84.2617 63.0097 84.2617 60.5534C84.2617 58.0971 86.184 56.1748 88.6404 56.1748C91.0967 56.1748 93.019 58.0971 93.019 60.5534Z' fill='%23F4F4F4'/%3E%3Cpath d='M93.019 88.6405C93.019 91.0968 91.0967 93.0191 88.6404 93.0191C86.184 93.0191 84.2617 91.0968 84.2617 88.6405C84.2617 86.1842 86.184 84.2618 88.6404 84.2618C91.0967 84.155 93.019 86.1842 93.019 88.6405Z' fill='%23F4F4F4'/%3E%3Cpath d='M93.019 116.621C93.019 119.078 91.0967 121 88.6404 121C86.184 121 84.2617 119.078 84.2617 116.621C84.2617 114.165 86.184 112.243 88.6404 112.243C91.0967 112.243 93.019 114.272 93.019 116.621Z' fill='%23F4F4F4'/%3E%3Cpath d='M121.107 32.4661C121.107 34.9224 119.185 36.8447 116.728 36.8447C114.272 36.8447 112.35 34.9224 112.35 32.4661C112.35 30.0097 114.272 28.0874 116.728 28.0874C119.078 28.0874 121.107 30.0097 121.107 32.4661Z' fill='%23F4F4F4'/%3E%3Cpath d='M121.107 60.5534C121.107 63.0097 119.185 64.9321 116.728 64.9321C114.272 64.9321 112.35 63.0097 112.35 60.5534C112.35 58.0971 114.272 56.1748 116.728 56.1748C119.078 56.1748 121.107 58.0971 121.107 60.5534Z' fill='%23F4F4F4'/%3E%3Cpath d='M121.107 88.6405C121.107 91.0968 119.185 93.0191 116.728 93.0191C114.272 93.0191 112.35 91.0968 112.35 88.6405C112.35 86.1842 114.272 84.2618 116.728 84.2618C119.078 84.155 121.107 86.1842 121.107 88.6405Z' fill='%23F4F4F4'/%3E%3Cpath d='M121.107 116.621C121.107 119.078 119.185 121 116.728 121C114.272 121 112.35 119.078 112.35 116.621C112.35 114.165 114.272 112.243 116.728 112.243C119.078 112.243 121.107 114.272 121.107 116.621Z' fill='%23F4F4F4'/%3E%3Cpath d='M36.8452 4.37865C36.8452 6.83496 34.9228 8.75726 32.4665 8.75726C30.0102 8.75726 28.0879 6.83496 28.0879 4.37865C28.0879 1.92234 30.0102 0 32.4665 0C34.9228 0 36.8452 1.92234 36.8452 4.37865Z' fill='%23F4F4F4'/%3E%3Cpath d='M64.9331 4.37865C64.9331 6.83496 63.0107 8.75726 60.5544 8.75726C58.0981 8.75726 56.1758 6.83496 56.1758 4.37865C56.1758 1.92234 58.0981 0 60.5544 0C63.0107 0 64.9331 1.92234 64.9331 4.37865Z' fill='%23F4F4F4'/%3E%3Cpath d='M93.019 4.37865C93.019 6.83496 91.0967 8.75726 88.6404 8.75726C86.184 8.75726 84.2617 6.83496 84.2617 4.37865C84.2617 1.92234 86.184 0 88.6404 0C91.0967 0 93.019 1.92234 93.019 4.37865Z' fill='%23F4F4F4'/%3E%3Cpath d='M22.9604 18.4759C22.9604 20.9323 21.0381 22.8546 18.5818 22.8546C16.1255 22.8546 14.2031 20.9323 14.2031 18.4759C14.2031 16.0196 16.1255 14.0973 18.5818 14.0973C20.9313 13.9905 22.9604 16.0196 22.9604 18.4759Z' fill='%23F4F4F4'/%3E%3Cpath d='M50.9409 18.4759C50.9409 20.9323 49.0185 22.8546 46.5622 22.8546C44.1059 22.8546 42.1836 20.9323 42.1836 18.4759C42.1836 16.0196 44.1059 14.0973 46.5622 14.0973C49.0185 13.9905 50.9409 16.0196 50.9409 18.4759Z' fill='%23F4F4F4'/%3E%3Cpath d='M79.0288 18.4758C79.0288 20.9321 77.1064 22.8545 74.6501 22.8545C72.1938 22.8545 70.2715 20.9321 70.2715 18.4758C70.2715 16.0195 72.1938 14.0972 74.6501 14.0972C77.1064 14.0972 79.0288 16.0195 79.0288 18.4758Z' fill='%23F4F4F4'/%3E%3Cpath d='M107.011 18.4759C107.011 20.9323 105.089 22.8546 102.633 22.8546C100.176 22.8546 98.2539 20.9323 98.2539 18.4759C98.2539 16.0196 100.176 14.0973 102.633 14.0973C105.089 13.9905 107.011 16.0196 107.011 18.4759Z' fill='%23F4F4F4'/%3E%3Cpath d='M22.9604 46.4563C22.9604 48.9126 21.0381 50.8349 18.5818 50.8349C16.1255 50.8349 14.2031 48.9126 14.2031 46.4563C14.2031 44 16.1255 42.0776 18.5818 42.0776C20.9313 42.0776 22.9604 44.1068 22.9604 46.4563Z' fill='%23F4F4F4'/%3E%3Cpath d='M50.9409 46.4563C50.9409 48.9126 49.0185 50.8349 46.5622 50.8349C44.1059 50.8349 42.1836 48.9126 42.1836 46.4563C42.1836 44 44.1059 42.0776 46.5622 42.0776C49.0185 42.0776 50.9409 44.1068 50.9409 46.4563Z' fill='%23F4F4F4'/%3E%3Cpath d='M79.0288 46.4563C79.0288 48.9126 77.1064 50.8349 74.6501 50.8349C72.1938 50.8349 70.2715 48.9126 70.2715 46.4563C70.2715 44 72.1938 42.0776 74.6501 42.0776C77.1064 42.0776 79.0288 44.1068 79.0288 46.4563Z' fill='%23F4F4F4'/%3E%3Cpath d='M107.011 46.4563C107.011 48.9126 105.089 50.8349 102.633 50.8349C100.176 50.8349 98.2539 48.9126 98.2539 46.4563C98.2539 44 100.176 42.0776 102.633 42.0776C105.089 42.0776 107.011 44.1068 107.011 46.4563Z' fill='%23F4F4F4'/%3E%3Cpath d='M22.9604 74.5437C22.9604 77 21.0381 78.9223 18.5818 78.9223C16.1255 78.9223 14.2031 77 14.2031 74.5437C14.2031 72.0874 16.1255 70.165 18.5818 70.165C20.9313 70.165 22.9604 72.0874 22.9604 74.5437Z' fill='%23F4F4F4'/%3E%3Cpath d='M50.9409 74.5437C50.9409 77 49.0185 78.9223 46.5622 78.9223C44.1059 78.9223 42.1836 77 42.1836 74.5437C42.1836 72.0874 44.1059 70.165 46.5622 70.165C49.0185 70.165 50.9409 72.0874 50.9409 74.5437Z' fill='%23F4F4F4'/%3E%3Cpath d='M79.0288 74.5437C79.0288 77 77.1064 78.9223 74.6501 78.9223C72.1938 78.9223 70.2715 77 70.2715 74.5437C70.2715 72.0874 72.1938 70.165 74.6501 70.165C77.1064 70.165 79.0288 72.0874 79.0288 74.5437Z' fill='%23F4F4F4'/%3E%3Cpath d='M107.011 74.5437C107.011 77 105.089 78.9223 102.633 78.9223C100.176 78.9223 98.2539 77 98.2539 74.5437C98.2539 72.0874 100.176 70.165 102.633 70.165C105.089 70.165 107.011 72.0874 107.011 74.5437Z' fill='%23F4F4F4'/%3E%3Cpath d='M22.9604 102.631C22.9604 105.087 21.0381 107.01 18.5818 107.01C16.1255 107.01 14.2031 105.087 14.2031 102.631C14.2031 100.175 16.1255 98.2524 18.5818 98.2524C20.9313 98.2524 22.9604 100.175 22.9604 102.631Z' fill='%23F4F4F4'/%3E%3Cpath d='M50.9409 102.631C50.9409 105.087 49.0185 107.01 46.5622 107.01C44.1059 107.01 42.1836 105.087 42.1836 102.631C42.1836 100.175 44.1059 98.2524 46.5622 98.2524C49.0185 98.2524 50.9409 100.175 50.9409 102.631Z' fill='%23F4F4F4'/%3E%3Cpath d='M79.0288 102.631C79.0288 105.087 77.1064 107.01 74.6501 107.01C72.1938 107.01 70.2715 105.087 70.2715 102.631C70.2715 100.175 72.1938 98.2524 74.6501 98.2524C77.1064 98.2524 79.0288 100.175 79.0288 102.631Z' fill='%23F4F4F4'/%3E%3Cpath d='M107.011 102.631C107.011 105.087 105.089 107.01 102.633 107.01C100.176 107.01 98.2539 105.087 98.2539 102.631C98.2539 100.175 100.176 98.2524 102.633 98.2524C105.089 98.2524 107.011 100.175 107.011 102.631Z' fill='%23F4F4F4'/%3E%3Cpath d='M121.107 4.37865C121.107 6.83496 119.185 8.75726 116.728 8.75726C114.272 8.75726 112.35 6.83496 112.35 4.37865C112.35 1.92234 114.272 0 116.728 0C119.078 0 121.107 1.92234 121.107 4.37865Z' fill='%23F4F4F4'/%3E%3C/svg%3E%0A");

                @include media(tab-l) {
                    top: 15%;
                }
            }
        }

        &:last-child {
            .p-awards__item-content,
            .p-awards__item-year-wrapper {
                padding-bottom: 0;
            }
        }
    }

    &__item-content {
        position: relative;
        display: grid;
        gap: 5rem 4rem;

        @include grid-columns(4);

        @include media(pc) {
            @include grid-columns(3);
        }

        @include media(tab-l) {
            gap: 4rem 3rem;

            @include grid-columns(2);
        }

        @include media(mob-m) {
            grid-template-columns: minmax(0, 1fr);
        }

        
    }

    &__item-graphic {
        position: absolute;
        mask-repeat: no-repeat;
        mask-size: contain;
        overflow: hidden;
        background-color: var(--color-grey-5);

        @include media(mob) {
            transform-origin: 50% 50%;
            transform: scale(0.8) translate(-2rem, -2rem);
        }

        @include media(mob-m) {
            // transform: scale(0.6) translate(0, -4rem);
        }
    }

    &__item-year-wrapper {
        position: relative;
        padding-right: var(--space-default);

        @include media(pc) {
            padding-right: 4rem;
        }

        @include media(tab-l) {
            padding-bottom: 0;
        }
    }

    &__item-year-box {
        position: relative;
        width: fit-content;
    }

    &__item-year {
        position: relative;
        display: block;
        font-weight: 800;
        font-size: 9.6rem;
        line-height: 100%;
        letter-spacing: -0.015em;
        color: $accent;

        @include media(mob) {
            font-size: 8rem;
        }

        @include media(mob-m) {
            font-size: 6rem;
        }
    }
    
    &__item-circle {
        position: absolute;
        top: 3.7rem;
        right: -1.2rem;
        z-index: 1;
        display: none;
        width: 2.3rem;
        height: 2.3rem;
        border: 1px solid $accent;
        border-radius: 50%;
        background: $white;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            width: 0.7rem;
            height: 0.7rem;
            background: $accent;
            transform: translate(-50%, -50%);
        }
    }

    &__item-row {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        align-content: flex-start;
        gap: 4rem;

        @include media(mob-m) {
            gap: 3rem;
        }
    }

    &__item-column {
        &_content {
            grid-column: span 2;

            &:nth-child(2) {
                grid-column: auto;
            }
        }

        &_image {
            @include media(mob-m) {
                width: 100%;
                max-width: 36rem;
                margin: 0 auto;
            }
        }
    }

    &__item-image-box {
        position: relative;
        padding-top: 66.667%;
    }

    &__item-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__item-title {
        margin: 0;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;

        @include media(mob) {
            font-size: 1.8rem;
        }
    }

    &__item-box {
        margin-top: 2rem;
        padding: 3rem;
        border: 1px solid var(--color-line);
        border-radius: $radius;
        width: fit-content;
        max-width: 100%;

        @include media(tab-l) {
            width: 100%;
        }
    }

    &__item-text {
        line-height: 1.4;
        font-weight: 500;

        p {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item-view {
        margin-top: 3rem;
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0.6rem;
        width: fit-content;
        text-decoration: none;
        color: $accent;
        transition-property: opacity;

        &:hover {
            opacity: 0.65;
        }
    }

    &__item-view-icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 1.8rem;
        height: 1.8rem;
        background: currentColor;
    }

    &__item-view-icon {
        width: 0.7rem;
        height: 0.7rem;
        fill: $white;
    }

    &__items {
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: var(--section-space-md);

        &.is-timeline {
            @include media-min(tab-l) {
                gap: 0;
            }

            .p-awards {
                &__item {
                    @include media-min(tab-l) {
                        grid-template-columns: minmax(0, 35fr) minmax(0, 65fr);
                        gap: 0;
                    }
            
                    @include media-min(pc) {
                        grid-template-columns: minmax(0, 29.7fr) minmax(0, 70.3fr);
                    }
                }

                &__item-year-wrapper {
                    @include media-min(tab-l) {
                        padding-bottom: var(--section-space-md);
                    }
                }

                &__item-content {
                    
                    &::before {
                        @include media-min(tab-l) {
                            content: "";
                            position: absolute;
                            top: 0;
                            height: 100%;
                            left: 0;
                            width: 1px;
                            background: var(--color-line);
                        }
                    }

                    @include media-min(tab-l) {
                        display: block;
                        padding-bottom: var(--section-space-md);
                        padding-left: 4rem;
                    }
            
                    @include media-min(pc) {
                        padding-left: var(--space-default);
                    }
                   
                }

                &__item-circle {
                    @include media-min(tab-l) {
                        display: block;
                    }
                }

                &__item-row {
                    @include media-min(tab-l) {
                        grid-template-columns: minmax(0, 45fr) minmax(0, 55fr);
                        margin-bottom: var(--section-space-md);

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                &__item-title {
                    @include media-min(pc) {
                        font-size: 2.4rem;
                    }
                }

                &__item-box {
                    @include media-min(tab-l) {
                        width: fit-content;
                    }
                }
            }
        }
    }
}
