/* ------- Blog page -------- */
.p-blog {
    padding-top: var(--section-space-md);

    @include media(tab) {
        padding-top: calc(var(--section-space-md) - 3rem);;
    }

    @include media(mob-m) {
        padding-top: calc(var(--section-space-md) - 1.5rem);
    }

    &__items {
        display: grid;
        gap: 6rem;

        @include grid-columns(2);

        @include media(pc) {
            column-gap: 4rem;
        }

        @include media(mob) {
            gap: 4rem;
            
            @include grid-columns(1);
        }

        @include media(mob-m) {
            gap: 3rem;
        }
    }

    &__item {
        &:first-child {
            @include media-min(mob) {
                grid-column: span 2;

                .article-item__title {
                    font-size: 2.8rem;
                } 
            }

            @include media-min(tab) {
                display: grid;
                gap: 4rem;
                grid-template-columns: minmax(0, 67.75fr) minmax(0, 32.25fr);
                align-items: center;

                .article-item__image-box {
                    padding-top: 56.19%;
                }

                .article-item__title {
                    font-size: 3.2rem;
                } 
            }
        }

        .article-item__text {
            @include media(mob) {
                display: none;
            }
        }
    }

    &__tab-menu {
        margin-bottom: calc(var(--section-space-md) - 1rem);

        @include media(tab) {
            margin-bottom: 5rem;
        }

        @include media(mob) {
            margin-bottom: 4rem;
        }

        @include media(mob-m) {
            margin-bottom: 3rem;
        }
    }

    &__show-more {
        margin-top: var(--section-space-md);

        .show-more__text {
            @include media-min(mob-m) {
                text-align: right;
            }
            
            @include media-min(pc) {
                left: 2rem;
            }
        }
    }
}