/* ------- Vacancies page -------- */
.p-vacancies {
    padding-top: var(--section-space-md);

    @include media(tab) {
        padding-top: calc(var(--section-space-md) - 3rem);;
    }

    @include media(mob-m) {
        padding-top: calc(var(--section-space-md) - 1.5rem);
    }

    &__items {
        padding-top: 1.2rem;

        @include media(mob) {
            padding-top: 0;
        }
    }

    &__item {
        margin-top: -1px;

        &:first-child {
            margin-top: 0;
        }
    }
}