---
import Icon from '@components/modules/Icon.astro';
import Button from '@components/modules/Button.astro';
import Video from '@components/modules/Video.astro';
---

<section class="section best-clip">
	<div class="best-clip__ellipse" data-parallax data-parallax-orientation="down" data-parallax-scale="1.3"></div>
	<div class="best-clip__container container">
		<Video class="best-clip__video" image="img/best-clip/video-1.jpg" image2x="img/best-clip/video-1@2x.jpg 2x" year="2022" time="1:00" buttonText="Showreel" isAnim={true}></Video>
		<div class="best-clip__row">
			<div class="best-clip__column">
				<h2 class="best-clip__title">Лучшее корпоративное видео&nbsp;&mdash; 2022</h2>
				<div class="best-clip__diploma">
					<div class="best-clip__graphic">
						<div class="best-clip__graphic-item best-clip__graphic-item_circle" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
							<span class="best-clip__graphic-circle anim anim_zoomIn" data-anim  data-delay="150"></span>
						</div>
						<div class="best-clip__graphic-item best-clip__graphic-item_lines" data-parallax data-parallax-orientation="up" data-parallax-scale="1.8">
							<svg class="best-clip__graphic-lines" width="114" height="114" viewBox="0 0 114 114" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M-1.70474e-07 109.5L0 113.4L113.4 113.4L113.4 109.5L-1.70474e-07 109.5Z" fill="black"/>
								<path d="M-1.70474e-07 101.7L0 105.6L113.4 105.6L113.4 101.7L-1.70474e-07 101.7Z" fill="black"/>
								<path d="M-1.70474e-07 93.8998L0 97.7998L113.4 97.7998L113.4 93.8998L-1.70474e-07 93.8998Z" fill="black"/>
								<path d="M-1.70474e-07 85.9999L0 89.8999L113.4 89.8999L113.4 85.9999L-1.70474e-07 85.9999Z" fill="black"/>
								<path d="M-1.70474e-07 78.1999L0 82.0999L113.4 82.0998L113.4 78.1998L-1.70474e-07 78.1999Z" fill="black"/>
								<path d="M-1.70474e-07 70.3998L0 74.2998L113.4 74.2998L113.4 70.3998L-1.70474e-07 70.3998Z" fill="black"/>
								<path d="M-1.70474e-07 62.6L0 66.5L113.4 66.5L113.4 62.6L-1.70474e-07 62.6Z" fill="black"/>
								<path d="M-1.70474e-07 54.8L0 58.7L113.4 58.6999L113.4 54.7999L-1.70474e-07 54.8Z" fill="black"/>
								<path d="M-1.70474e-07 46.9999L0 50.8999L113.4 50.8999L113.4 46.9999L-1.70474e-07 46.9999Z" fill="black"/>
								<path d="M-1.70474e-07 39.1L0 43L113.4 43L113.4 39.1L-1.70474e-07 39.1Z" fill="black"/>
								<path d="M-1.70474e-07 31.2999L0 35.2L113.4 35.1999L113.4 31.2999L-1.70474e-07 31.2999Z" fill="black"/>
								<path d="M-1.70474e-07 23.4999L0 27.3999L113.4 27.3999L113.4 23.4999L-1.70474e-07 23.4999Z" fill="black"/>
								<path d="M-1.70474e-07 15.6999L0 19.5999L113.4 19.5998L113.4 15.6999L-1.70474e-07 15.6999Z" fill="black"/>
								<path d="M-1.70474e-07 7.8998L0 11.7998L113.4 11.7998L113.4 7.8998L-1.70474e-07 7.8998Z" fill="black"/>
								<path d="M-1.70474e-07 -9.91821e-05L0 3.8999L113.4 3.8999L113.4 -0.000104139L-1.70474e-07 -9.91821e-05Z" fill="black"/>
							</svg>
						</div>
					</div>
					<div class="best-clip__diploma-box">
						<img class="best-clip__diploma-image" src="img/best-clip/diploma.png" srcset="img/best-clip/diploma@2x.png 2x" width="182" height="237" alt="" loading="lazy"/>
					</div>
				</div>
			</div>
			<div class="best-clip__column">
				<div class="best-clip__description anim anim_slideUp" data-anim>
					<p><strong>dt&nbsp;group video production&nbsp;&mdash;</strong> команда профессионалов с&nbsp;многолетним опытом создания корпоративных и&nbsp;презентационных фильмов. Мы&nbsp;объединяем в&nbsp;себе весь процесс видеопроизводства, совмещая видеопродакшн, креативное агентство и&nbsp;студию компьютерной графики.</p>
				</div>
			</div>
		</div>
	
	</div>
</section>