---
import Button from '@components/modules/Button.astro';
---

<section class="section cost-creating">
	<div class="container">
		<div class="cost-creating__inner">
			<div class="cost-creating__box">
				<div class="cost-creating__row">
					
					<div class="cost-creating__column cost-creating__column_main">
						<h2 class="cost-creating__title section-title">Стоимость создания <span>hr&nbsp;видео</span></h2>
						
						<div class="cost-creating__included">
							<h3 class="cost-creating__included-main-title">В стоимость включено:</h3>
							<div class="cost-creating__included-items">
								<div class="cost-creating__included-item">
									<div class="cost-creating__included-title">Препродакшн</div>
									<div class="cost-creating__included-text">
										<p>Разработка концепции корпоративного видео, подбор референсов, написание сценарного плана с&nbsp;раскадровкой.</p>
									</div>
								</div>
								<div class="cost-creating__included-item">
									<div class="cost-creating__included-title">Продакшн</div>
									<div class="cost-creating__included-text">
										<p>Отрисовка концептов компьютерной графики, подбор локаций для съемок, кастинг команды проекта&nbsp;&mdash; режиссеров, актеров, операторов и&nbsp;прочих членов команды. Съемка материала.</p>
									</div>
								</div>
								<div class="cost-creating__included-item">
									<div class="cost-creating__included-title">Постпродакшн</div>
									<div class="cost-creating__included-text">
										<p>Монтаж видео, создание компьютерной графики и&nbsp;ее&nbsp;внедрение в&nbsp;видео, озвучивание фильма на&nbsp;собственной звукозаписывающей студии, наложении музыки.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cost-creating__column cost-creating__column_info">
						<div class="cost-creating__info">
							<div class="cost-creating__info-item">
								<div class="cost-creating__info-title">Цена:</div>
								<div class="cost-creating__info-value">от 200.000 P <span>*</span></div>
							</div>
							<div class="cost-creating__info-item">
								<div class="cost-creating__info-title">Сроки:</div>
								<div class="cost-creating__info-value">от 2 недель</div>
							</div>
						</div>
						<div class="cost-creating__button-wrapper">
							<Button class="cost-creating__button" type={'link'} href="" icon="arrow">Обратиться</Button>
						</div>
						<div class="cost-creating__note">
							<p>* &mdash; не&nbsp;является офертой</p>
							<p>Итоговая цена корпоративного видео зависит от&nbsp;таких факторов, как общий хронометраж материала, сложность и&nbsp;объем съемок, тип и&nbsp;объем компьютерной график, а&nbsp;также сроков создания.</p>
						</div>
					</div>
				</div>
			</div>
		
			<div class="cost-creating__graphic-item cost-creating__graphic-item_ball" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
				<span class="cost-creating__graphic-ball"></span>	
			</div>
		</div>
	</div>
</section>