---
---

<section class="section executive-producer">
	<div class="container">
		<div class="executive-producer__row">
			<div class="executive-producer__column">
				<div class="executive-producer__statistics">
					<div class="executive-producer__statistics-item">
						<div class="executive-producer__statistics-number anim" data-anim data-anim-number="25">25</div>
						<div class="executive-producer__statistics-text">стран</div>
					</div>
					<div class="executive-producer__statistics-item">
						<div class="executive-producer__statistics-number anim" data-anim data-anim-number="50">50</div>
						<div class="executive-producer__statistics-text">человек</div>
					</div>
					<div class="executive-producer__statistics-item">
						<div class="executive-producer__statistics-number anim" data-anim data-anim-number="2000">2000</div>
						<div class="executive-producer__statistics-text">проектов</div>
					</div>
					<div class="executive-producer__statistics-item">
						<div class="executive-producer__statistics-number anim" data-anim data-anim-number="19" data-anim-number-suffix=" лет">19</div>
						<div class="executive-producer__statistics-text">на рынке</div>
					</div>
				</div>
			</div>
			<div class="executive-producer__column executive-producer__column_content">
				<div class="executive-producer__photo anim anim_slideUp" data-anim>
					<div class="executive-producer__photo-box">
						<img class="executive-producer__photo-image lazy" data-src="img/executive-producer/photo.jpg" data-srcset="img/executive-producer/photo@2x.jpg 2x" width="510" height="555" alt="">
					</div>
				</div>
				<div class="executive-producer__name-box anim anim_slideLeft" data-anim data-delay="350">
					<span class="executive-producer__name-line anim anim_scaleLeft" data-anim data-delay="550"></span>
					<div class="executive-producer__name">Мария <br>Мальцева</div>
					<div class="executive-producer__position">Исполнительный продюсер</div>
				</div>
				<div class="executive-producer__comment anim anim_slideUp" data-anim data-delay="650">
					<p>Совершенство видео технологий и&nbsp;решение сложных задач клиента это наш принцип работы</p>
				</div>
			</div>
		</div>
	</div>
</section>