---

---

<section class="section faq">
	<div class="container">
		<div class="faq__row">
			<div class="faq__column">
				<h2 class="faq__title section-title section-title_size_sm">Отвечаем на ваши вопросы</h2>
			</div>
			<div class="faq__column">
				<div class="faq__block">
					<h3 class="faq__block-title">Для каких целей HR может использовать в своей работе видео?</h3>
					<div class="faq__block-text">
						<p>Современные видео инструменты могут существенно разгрузить hr-менеджеров от&nbsp;рутинной работы:</p>

						<ul>
							<li>обучающие видео и&nbsp;курсы повышают квалификацию и&nbsp;дополняют знания сотрудников</li>
							<li>ролики-эксплейнеры емко и&nbsp;доходчиво объясняют, как что-то делать или как что-то работает</li>
							<li>welcome-ролики помогают настроить на&nbsp;нужный лад нового сотрудника в&nbsp;его первые рабочие дни</li>
							<li>адаптационные ролики экономят часы работы менеджера ответственного за&nbsp;введение в&nbsp;должность</li>
							<li>рекрутинговые ролики выстраивают правильный образ бренда в&nbsp;глазах соискателей и&nbsp;повышают количество откликов на&nbsp;вакансию</li>
							<li>видео-обращения топ-менеджеров и&nbsp;поздравительные ролики сплачивают большие команды и&nbsp;заряжают на&nbsp;эффективную работу</li>
						</ul>

						<p>Все эти инструменты могут быть исполнены в&nbsp;разной технике и&nbsp;с&nbsp;разным бюджетом. Но&nbsp;каждый из&nbsp;форматов видео однозначно сделает внутренние коммуникации гораздо эффективнее.</p>
					</div>
				</div>
				<div class="faq__block">
					<h3 class="faq__block-title">Какие форматы видео наиболее эффективны?</h3>
					<div class="faq__block-text">
						<p>Для того, чтобы определиться с&nbsp;подходящим для вас форматом видео, нужно понять, какие задачи будут перед ним стоять (например: обучение, вовлечение или формирование имиджа) и&nbsp;бюджетные рамки. Мы&nbsp;можем создать и&nbsp;съемочный ролик, и&nbsp;графический (в&nbsp;2d&nbsp;или&nbsp;3d), и&nbsp;съемочно-графический. После первого заполнения брифа мы&nbsp;подготовим для вас несколько креативных концепций с&nbsp;разными техническими и&nbsp;идейными решениями. И&nbsp;вы&nbsp;сможете выбрать из&nbsp;них наиболее понравившийся.</p>
					</div>
				</div>
				<div class="faq__block">
					<h3 class="faq__block-title">Какие тренды в&nbsp;hr-видео сейчас существуют?</h3>
					<div class="faq__block-text">
						<ul>
							<li>Обучающие курсы с&nbsp;интерактивной составляющей и&nbsp;тестами по&nbsp;результатам обучения</li>
							<li>Годовые отчеты с&nbsp;цифрами в&nbsp;инфографике и&nbsp;обращениями топ-менеджмента VR-экскурсии по&nbsp;удаленным филиалам и&nbsp;производствам</li>
							<li>Видео-эксплейнеры для корпоративных чат-ботов</li>
							<li>Игровые сериалы и&nbsp;аудиоспектакли для адаптации сотрудников</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>