---
const tagsFirst = [
	"Презентационные ролики",
	"Продуктовое видео",
	"Рекламные видеоролики",
	"Контент для мероприятий"
]
const tagsSecond = [
	"Видеопрезентация",
	"Обучающее видео",
	"Корпоративный фильм",
	"Корпоративное видео",
	"Прямые трансляции"
]
---

<section class="section home-section">
	<div class="container">
		<div class="home-section__content">
			<div class="home-section__graphic">
				<div class="home-section__graphic-item home-section__graphic-item_points" data-parallax data-parallax-orientation="down" data-parallax-scale="1.5">
					<svg class="home-section__graphic-figure home-section__graphic-points anim anim_zoomRotationIn" width="102" height="101" viewBox="0 0 102 101" fill="none" xmlns="http://www.w3.org/2000/svg" data-anim data-delay="900">
						<path d="M7.39319 3.65206C7.39319 5.70078 5.78985 7.3041 3.74113 7.3041C1.69242 7.3041 0 5.70078 0 3.65206C0 1.60335 1.60334 0 3.65206 0C5.70078 0 7.39319 1.60335 7.39319 3.65206Z" fill="#2C2C2C"/>
						<path d="M7.39319 27.0788C7.39319 29.1275 5.78985 30.7309 3.74113 30.7309C1.69242 30.7309 0 29.1275 0 27.0788C0 25.0301 1.60334 23.4268 3.65206 23.4268C5.70078 23.4268 7.39319 25.0301 7.39319 27.0788Z" fill="#2C2C2C"/>
						<path d="M7.30412 50.5056C7.30412 52.5543 5.70078 54.1576 3.65206 54.1576C1.60334 54.1576 0 52.5543 0 50.5056C0 48.4568 1.60334 46.8535 3.65206 46.8535C5.70078 46.8535 7.30412 48.4568 7.30412 50.5056Z" fill="#2C2C2C"/>
						<path d="M7.30412 73.9318C7.30412 75.9805 5.70078 77.5839 3.65206 77.5839C1.60334 77.5839 0 75.9805 0 73.9318C0 71.8831 1.60334 70.2797 3.65206 70.2797C5.70078 70.1907 7.30412 71.8831 7.30412 73.9318Z" fill="#2C2C2C"/>
						<path d="M7.30412 97.2692C7.30412 99.3179 5.70078 100.921 3.65206 100.921C1.60334 100.921 0 99.3179 0 97.2692C0 95.2205 1.60334 93.6172 3.65206 93.6172C5.70078 93.6172 7.30412 95.3096 7.30412 97.2692Z" fill="#2C2C2C"/>
						<path d="M30.7308 27.0788C30.7308 29.1275 29.1274 30.7309 27.0787 30.7309C25.03 30.7309 23.4267 29.1275 23.4267 27.0788C23.4267 25.0301 25.03 23.4268 27.0787 23.4268C29.1274 23.4268 30.7308 25.0301 30.7308 27.0788Z" fill="#2C2C2C"/>
						<path d="M30.7308 50.5056C30.7308 52.5543 29.1274 54.1576 27.0787 54.1576C25.03 54.1576 23.4267 52.5543 23.4267 50.5056C23.4267 48.4568 25.03 46.8535 27.0787 46.8535C29.1274 46.8535 30.7308 48.4568 30.7308 50.5056Z" fill="#2C2C2C"/>
						<path d="M30.7308 73.9318C30.7308 75.9805 29.1274 77.5839 27.0787 77.5839C25.03 77.5839 23.4267 75.9805 23.4267 73.9318C23.4267 71.8831 25.03 70.2797 27.0787 70.2797C29.1274 70.1907 30.7308 71.8831 30.7308 73.9318Z" fill="#2C2C2C"/>
						<path d="M30.7308 97.2692C30.7308 99.3179 29.1274 100.921 27.0787 100.921C25.03 100.921 23.4267 99.3179 23.4267 97.2692C23.4267 95.2205 25.03 93.6172 27.0787 93.6172C29.1274 93.6172 30.7308 95.3096 30.7308 97.2692Z" fill="#2C2C2C"/>
						<path d="M54.1574 27.0788C54.1574 29.1275 52.5541 30.7309 50.5054 30.7309C48.4567 30.7309 46.8533 29.1275 46.8533 27.0788C46.8533 25.0301 48.4567 23.4268 50.5054 23.4268C52.5541 23.4268 54.1574 25.0301 54.1574 27.0788Z" fill="#2C2C2C"/>
						<path d="M54.1574 50.5056C54.1574 52.5543 52.5541 54.1576 50.5054 54.1576C48.4567 54.1576 46.8533 52.5543 46.8533 50.5056C46.8533 48.4568 48.4567 46.8535 50.5054 46.8535C52.5541 46.8535 54.1574 48.4568 54.1574 50.5056Z" fill="#2C2C2C"/>
						<path d="M54.1574 73.9318C54.1574 75.9805 52.5541 77.5839 50.5054 77.5839C48.4567 77.5839 46.8533 75.9805 46.8533 73.9318C46.8533 71.8831 48.4567 70.2797 50.5054 70.2797C52.5541 70.1907 54.1574 71.8831 54.1574 73.9318Z" fill="#2C2C2C"/>
						<path d="M54.1574 97.2692C54.1574 99.3179 52.5541 100.921 50.5054 100.921C48.4567 100.921 46.8533 99.3179 46.8533 97.2692C46.8533 95.2205 48.4567 93.6172 50.5054 93.6172C52.5541 93.6172 54.1574 95.3096 54.1574 97.2692Z" fill="#2C2C2C"/>
						<path d="M77.5839 27.0788C77.5839 29.1275 75.9806 30.7309 73.9319 30.7309C71.8832 30.7309 70.2798 29.1275 70.2798 27.0788C70.2798 25.0301 71.8832 23.4268 73.9319 23.4268C75.9806 23.4268 77.5839 25.0301 77.5839 27.0788Z" fill="#2C2C2C"/>
						<path d="M77.5839 50.5056C77.5839 52.5543 75.9806 54.1576 73.9319 54.1576C71.8832 54.1576 70.2798 52.5543 70.2798 50.5056C70.2798 48.4568 71.8832 46.8535 73.9319 46.8535C75.9806 46.8535 77.5839 48.4568 77.5839 50.5056Z" fill="#2C2C2C"/>
						<path d="M77.5839 73.9318C77.5839 75.9805 75.9806 77.5839 73.9319 77.5839C71.8832 77.5839 70.2798 75.9805 70.2798 73.9318C70.2798 71.8831 71.8832 70.2797 73.9319 70.2797C75.9806 70.1907 77.5839 71.8831 77.5839 73.9318Z" fill="#2C2C2C"/>
						<path d="M77.5839 97.2692C77.5839 99.3179 75.9806 100.921 73.9319 100.921C71.8832 100.921 70.2798 99.3179 70.2798 97.2692C70.2798 95.2205 71.8832 93.6172 73.9319 93.6172C75.9806 93.6172 77.5839 95.3096 77.5839 97.2692Z" fill="#2C2C2C"/>
						<path d="M101.011 27.0788C101.011 29.1275 99.4073 30.7309 97.3586 30.7309C95.3098 30.7309 93.7065 29.1275 93.7065 27.0788C93.7065 25.0301 95.3098 23.4268 97.3586 23.4268C99.3182 23.4268 101.011 25.0301 101.011 27.0788Z" fill="#2C2C2C"/>
						<path d="M101.011 50.5056C101.011 52.5543 99.4073 54.1576 97.3586 54.1576C95.3098 54.1576 93.7065 52.5543 93.7065 50.5056C93.7065 48.4568 95.3098 46.8535 97.3586 46.8535C99.3182 46.8535 101.011 48.4568 101.011 50.5056Z" fill="#2C2C2C"/>
						<path d="M101.011 73.9318C101.011 75.9805 99.4073 77.5839 97.3586 77.5839C95.3098 77.5839 93.7065 75.9805 93.7065 73.9318C93.7065 71.8831 95.3098 70.2797 97.3586 70.2797C99.3182 70.1907 101.011 71.8831 101.011 73.9318Z" fill="#2C2C2C"/>
						<path d="M101.011 97.2692C101.011 99.3179 99.4073 100.921 97.3586 100.921C95.3098 100.921 93.7065 99.3179 93.7065 97.2692C93.7065 95.2205 95.3098 93.6172 97.3586 93.6172C99.3182 93.6172 101.011 95.3096 101.011 97.2692Z" fill="#2C2C2C"/>
						<path d="M30.7308 3.65206C30.7308 5.70078 29.1274 7.3041 27.0787 7.3041C25.03 7.3041 23.4267 5.70078 23.4267 3.65206C23.4267 1.60335 25.03 0 27.0787 0C29.1274 0 30.7308 1.60335 30.7308 3.65206Z" fill="#2C2C2C"/>
						<path d="M54.1574 3.65206C54.1574 5.70078 52.5541 7.3041 50.5054 7.3041C48.4567 7.3041 46.8533 5.70078 46.8533 3.65206C46.8533 1.60335 48.4567 0 50.5054 0C52.5541 0 54.1574 1.60335 54.1574 3.65206Z" fill="#2C2C2C"/>
						<path d="M77.5839 3.65206C77.5839 5.70078 75.9806 7.3041 73.9319 7.3041C71.8832 7.3041 70.2798 5.70078 70.2798 3.65206C70.2798 1.60335 71.8832 0 73.9319 0C75.9806 0 77.5839 1.60335 77.5839 3.65206Z" fill="#2C2C2C"/>
						<path d="M19.1511 15.4098C19.1511 17.4585 17.5477 19.0619 15.499 19.0619C13.4503 19.0619 11.8469 17.4585 11.8469 15.4098C11.8469 13.3611 13.4503 11.7578 15.499 11.7578C17.4586 11.6687 19.1511 13.3611 19.1511 15.4098Z" fill="#2C2C2C"/>
						<path d="M42.4885 15.4098C42.4885 17.4585 40.8852 19.0619 38.8365 19.0619C36.7877 19.0619 35.1844 17.4585 35.1844 15.4098C35.1844 13.3611 36.7877 11.7578 38.8365 11.7578C40.8852 11.6687 42.4885 13.3611 42.4885 15.4098Z" fill="#2C2C2C"/>
						<path d="M65.9152 15.4099C65.9152 17.4586 64.3118 19.0619 62.2631 19.0619C60.2144 19.0619 58.611 17.4586 58.611 15.4099C58.611 13.3612 60.2144 11.7578 62.2631 11.7578C64.3118 11.7578 65.9152 13.3612 65.9152 15.4099Z" fill="#2C2C2C"/>
						<path d="M89.2527 15.4098C89.2527 17.4585 87.6494 19.0619 85.6007 19.0619C83.5519 19.0619 81.9486 17.4585 81.9486 15.4098C81.9486 13.3611 83.5519 11.7578 85.6007 11.7578C87.6494 11.6687 89.2527 13.3611 89.2527 15.4098Z" fill="#2C2C2C"/>
						<path d="M19.1511 38.7473C19.1511 40.796 17.5477 42.3993 15.499 42.3993C13.4503 42.3993 11.8469 40.796 11.8469 38.7473C11.8469 36.6986 13.4503 35.0952 15.499 35.0952C17.4586 35.0952 19.1511 36.7876 19.1511 38.7473Z" fill="#2C2C2C"/>
						<path d="M42.4885 38.7473C42.4885 40.796 40.8852 42.3993 38.8365 42.3993C36.7877 42.3993 35.1844 40.796 35.1844 38.7473C35.1844 36.6986 36.7877 35.0952 38.8365 35.0952C40.8852 35.0952 42.4885 36.7876 42.4885 38.7473Z" fill="#2C2C2C"/>
						<path d="M65.9152 38.7473C65.9152 40.796 64.3118 42.3993 62.2631 42.3993C60.2144 42.3993 58.611 40.796 58.611 38.7473C58.611 36.6986 60.2144 35.0952 62.2631 35.0952C64.3118 35.0952 65.9152 36.7876 65.9152 38.7473Z" fill="#2C2C2C"/>
						<path d="M89.2527 38.7473C89.2527 40.796 87.6494 42.3993 85.6007 42.3993C83.5519 42.3993 81.9486 40.796 81.9486 38.7473C81.9486 36.6986 83.5519 35.0952 85.6007 35.0952C87.6494 35.0952 89.2527 36.7876 89.2527 38.7473Z" fill="#2C2C2C"/>
						<path d="M19.1511 62.174C19.1511 64.2228 17.5477 65.8261 15.499 65.8261C13.4503 65.8261 11.8469 64.2228 11.8469 62.174C11.8469 60.1253 13.4503 58.522 15.499 58.522C17.4586 58.522 19.1511 60.1253 19.1511 62.174Z" fill="#2C2C2C"/>
						<path d="M42.4885 62.174C42.4885 64.2228 40.8852 65.8261 38.8365 65.8261C36.7877 65.8261 35.1844 64.2228 35.1844 62.174C35.1844 60.1253 36.7877 58.522 38.8365 58.522C40.8852 58.522 42.4885 60.1253 42.4885 62.174Z" fill="#2C2C2C"/>
						<path d="M65.9152 62.174C65.9152 64.2228 64.3118 65.8261 62.2631 65.8261C60.2144 65.8261 58.611 64.2228 58.611 62.174C58.611 60.1253 60.2144 58.522 62.2631 58.522C64.3118 58.522 65.9152 60.1253 65.9152 62.174Z" fill="#2C2C2C"/>
						<path d="M89.2527 62.174C89.2527 64.2228 87.6494 65.8261 85.6007 65.8261C83.5519 65.8261 81.9486 64.2228 81.9486 62.174C81.9486 60.1253 83.5519 58.522 85.6007 58.522C87.6494 58.522 89.2527 60.1253 89.2527 62.174Z" fill="#2C2C2C"/>
						<path d="M19.1511 85.6008C19.1511 87.6495 17.5477 89.2528 15.499 89.2528C13.4503 89.2528 11.8469 87.6495 11.8469 85.6008C11.8469 83.5521 13.4503 81.9487 15.499 81.9487C17.4586 81.9487 19.1511 83.5521 19.1511 85.6008Z" fill="#2C2C2C"/>
						<path d="M42.4885 85.6008C42.4885 87.6495 40.8852 89.2528 38.8365 89.2528C36.7877 89.2528 35.1844 87.6495 35.1844 85.6008C35.1844 83.5521 36.7877 81.9487 38.8365 81.9487C40.8852 81.9487 42.4885 83.5521 42.4885 85.6008Z" fill="#2C2C2C"/>
						<path d="M65.9152 85.6008C65.9152 87.6495 64.3118 89.2528 62.2631 89.2528C60.2144 89.2528 58.611 87.6495 58.611 85.6008C58.611 83.5521 60.2144 81.9487 62.2631 81.9487C64.3118 81.9487 65.9152 83.5521 65.9152 85.6008Z" fill="#2C2C2C"/>
						<path d="M89.2527 85.6008C89.2527 87.6495 87.6494 89.2528 85.6007 89.2528C83.5519 89.2528 81.9486 87.6495 81.9486 85.6008C81.9486 83.5521 83.5519 81.9487 85.6007 81.9487C87.6494 81.9487 89.2527 83.5521 89.2527 85.6008Z" fill="#2C2C2C"/>
						<path d="M101.011 3.65206C101.011 5.70078 99.4073 7.3041 97.3586 7.3041C95.3098 7.3041 93.7065 5.70078 93.7065 3.65206C93.7065 1.60335 95.3098 0 97.3586 0C99.3182 0 101.011 1.60335 101.011 3.65206Z" fill="#2C2C2C"/>
					</svg>
				</div>
				
				<div class="home-section__graphic-item home-section__graphic-item_ball" data-parallax data-parallax-orientation="down" data-parallax-scale="1.8">
					<span class="home-section__graphic-figure home-section__graphic-ball anim anim_zoomIn" data-anim data-delay="700"></span>
				</div>
			
				
				<div class="home-section__graphic-item home-section__graphic-item_ellipse" data-parallax data-parallax-orientation="down" data-parallax-scale="1.8">
					<span class="home-section__graphic-figure home-section__graphic-ellipse anim anim_fadeIn" data-anim data-delay="900"></span>
				</div>
			
				
				<div class="home-section__graphic-item home-section__graphic-item_circles" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
					<svg class="home-section__graphic-figure home-section__graphic-circles anim anim_zoomIn" width="263" height="263" viewBox="0 0 263 263" fill="none" xmlns="http://www.w3.org/2000/svg" data-anim data-delay="700">
						<path d="M10.659 0H0V10.659C3.47577 6.95154 6.95156 3.47577 10.659 0Z" fill="#F4F4F4"/>
						<path d="M262.768 10.659V0H252.109C255.817 3.47577 259.292 6.95154 262.768 10.659Z" fill="#F4F4F4"/>
						<path d="M0 252.109V262.768H10.659C6.95156 259.293 3.47577 255.817 0 252.109Z" fill="#F4F4F4"/>
						<path d="M252.109 262.768H262.768V252.109C259.292 255.817 255.817 259.293 252.109 262.768Z" fill="#F4F4F4"/>
						<path d="M0 227.547V240.06C6.71982 248.17 14.3665 255.816 22.4766 262.536H34.9894C21.7815 252.804 9.96388 240.987 0 227.547Z" fill="#F4F4F4"/>
						<path d="M240.292 0H227.779C241.218 9.96388 253.036 21.7815 262.768 34.9894V22.4767C256.048 14.3665 248.402 6.71982 240.292 0Z" fill="#F4F4F4"/>
						<path d="M227.547 262.769H240.06C248.17 256.049 255.817 248.402 262.536 240.292V227.779C252.804 240.987 240.987 252.805 227.547 262.769Z" fill="#F4F4F4"/>
						<path d="M34.9894 0H22.4766C14.3665 6.71982 6.71982 14.3665 0 22.4767V34.9894C9.96388 21.7815 21.7815 9.96388 34.9894 0Z" fill="#F4F4F4"/>
						<path d="M0 198.119V213.875C12.5128 233.803 29.1965 250.487 49.1242 263H64.8811C36.8432 248.633 14.1348 225.925 0 198.119Z" fill="#F4F4F4"/>
						<path d="M198.119 262.768H213.876C233.804 250.255 250.487 233.571 263 213.644V197.887C248.634 225.925 225.925 248.633 198.119 262.768Z" fill="#F4F4F4"/>
						<path d="M262.768 64.6493V48.8925C250.256 29.1965 233.572 12.5128 213.644 0H197.887C225.925 14.1348 248.634 36.8432 262.768 64.6493Z" fill="#F4F4F4"/>
						<path d="M0 49.1244V64.8813C14.1348 37.0751 36.8432 14.3667 64.6493 0.231934H48.8925C29.1965 12.513 12.5128 29.1967 0 49.1244Z" fill="#F4F4F4"/>
						<path d="M141.348 262.768H178.423C217.583 248.633 248.865 217.583 262.768 178.191V141.116C257.902 205.997 205.997 257.902 141.348 262.768Z" fill="#F4F4F4"/>
						<path d="M262.768 121.42V84.3454C248.633 45.185 217.583 14.1348 178.191 0H141.116C205.997 4.86608 257.902 56.7709 262.768 121.42Z" fill="#F4F4F4"/>
						<path d="M121.42 0H84.3454C45.185 14.1348 13.9031 45.185 0 84.5771V121.652C4.86608 56.7709 56.7709 4.86608 121.42 0Z" fill="#F4F4F4"/>
						<path d="M84.3454 262.768H121.42C56.5392 257.902 4.86608 205.997 0 141.348V178.423C14.1348 217.583 45.185 248.633 84.3454 262.768Z" fill="#F4F4F4"/>
						<path d="M255.353 131.384C255.353 63.0269 199.741 7.41455 131.384 7.41455C63.0274 7.41455 7.41504 63.0269 7.41504 131.384C7.41504 199.741 63.0274 255.353 131.384 255.353C199.741 255.353 255.353 199.741 255.353 131.384ZM15.2935 131.384C15.2935 67.4295 67.43 15.293 131.384 15.293C195.338 15.293 247.475 67.4295 247.475 131.384C247.475 195.338 195.338 247.474 131.384 247.474C67.1983 247.474 15.2935 195.338 15.2935 131.384Z" fill="#F4F4F4"/>
						<path d="M239.597 131.384C239.597 71.601 190.936 23.1719 131.384 23.1719C71.6009 23.1719 23.1719 71.8327 23.1719 131.384C23.1719 191.167 71.8327 239.828 131.384 239.828C191.167 239.597 239.597 191.167 239.597 131.384ZM30.8186 131.384C30.8186 76.0036 76.0036 30.8186 131.384 30.8186C186.765 30.8186 231.95 76.0036 231.95 131.384C231.95 186.765 186.765 231.95 131.384 231.95C76.0036 231.95 30.8186 186.765 30.8186 131.384Z" fill="#F4F4F4"/>
						<path d="M224.071 131.384C224.071 80.1743 182.362 38.6968 131.384 38.6968C80.1744 38.6968 38.6969 80.406 38.6969 131.384C38.6969 182.594 80.4061 224.071 131.384 224.071C182.594 224.071 224.071 182.594 224.071 131.384ZM46.3436 131.384C46.3436 84.5769 84.5771 46.3435 131.384 46.3435C178.191 46.3435 216.425 84.5769 216.425 131.384C216.425 178.191 178.191 216.424 131.384 216.424C84.5771 216.424 46.3436 178.191 46.3436 131.384Z" fill="#F4F4F4"/>
						<path d="M208.546 131.384C208.546 88.7477 174.02 54.2217 131.384 54.2217C88.7479 54.2217 54.2219 88.7477 54.2219 131.384C54.2219 174.02 88.7479 208.546 131.384 208.546C174.02 208.546 208.546 174.02 208.546 131.384ZM61.8686 131.384C61.8686 93.1503 92.9188 61.8684 131.384 61.8684C169.618 61.8684 200.899 92.9186 200.899 131.384C200.899 169.617 169.849 200.899 131.384 200.899C93.1505 200.899 61.8686 169.617 61.8686 131.384Z" fill="#F4F4F4"/>
						<path d="M193.021 131.385C193.021 97.5537 165.447 69.7476 131.384 69.7476C97.5534 69.7476 69.7472 97.322 69.7472 131.385C69.7472 165.215 97.3216 193.022 131.384 193.022C165.215 193.022 193.021 165.215 193.021 131.385ZM77.6256 131.385C77.6256 101.725 101.724 77.626 131.384 77.626C161.044 77.626 185.143 101.725 185.143 131.385C185.143 161.044 161.044 185.143 131.384 185.143C101.724 185.143 77.6256 161.044 77.6256 131.385Z" fill="#F4F4F4"/>
						<path d="M177.264 131.384C177.264 106.126 156.641 85.5034 131.384 85.5034C106.127 85.5034 85.504 106.126 85.504 131.384C85.504 156.641 106.127 177.264 131.384 177.264C156.641 177.264 177.264 156.641 177.264 131.384ZM93.1507 131.384C93.1507 110.297 110.298 93.1501 131.384 93.1501C152.471 93.1501 169.618 110.297 169.618 131.384C169.618 152.47 152.471 169.617 131.384 169.617C110.298 169.617 93.1507 152.47 93.1507 131.384Z" fill="#F4F4F4"/>
						<path d="M161.739 131.385C161.739 114.701 148.068 101.03 131.384 101.03C114.7 101.03 101.029 114.701 101.029 131.385C101.029 148.069 114.7 161.74 131.384 161.74C148.068 161.74 161.739 148.069 161.739 131.385ZM108.676 131.385C108.676 118.872 118.871 108.676 131.384 108.676C143.897 108.676 154.092 118.872 154.092 131.385C154.092 143.898 143.897 154.093 131.384 154.093C118.871 154.093 108.676 143.898 108.676 131.385Z" fill="#F4F4F4"/>
						<path d="M146.214 131.384C146.214 123.274 139.494 116.554 131.384 116.554C123.274 116.554 116.554 123.274 116.554 131.384C116.554 139.494 123.274 146.214 131.384 146.214C139.494 146.214 146.214 139.494 146.214 131.384ZM124.201 131.384C124.201 127.445 127.445 124.201 131.384 124.201C135.324 124.201 138.568 127.445 138.568 131.384C138.568 135.323 135.324 138.567 131.384 138.567C127.445 138.336 124.201 135.323 124.201 131.384Z" fill="#F4F4F4"/>
					</svg>
				</div>
			
				
					
				
			</div>
			<div class="home-section__image-box anim anim_fadeIn" data-anim data-delay="500">
				<img class="home-section__image" src="img/home-section/image.jpg" srcset="img/home-section/image@2x.jpg 2x" alt="" loading="lazy" />
			</div>
			<div class="home-section__title anim anim_slideUp js-home-title" data-text-before="dt group" data-anim>dt group первый корпоративный видеопродакшн</div>
			<div class="home-section__tags">
				<div class="home-section__tags-block">
					<div class="home-section__tags-list" data-parallax data-parallax-orientation="left" data-parallax-scale="3">
						{tagsFirst.map(item => (
							<div class="home-section__tags-item">
								<a href="" class="home-section__tags-link" set:html={item}></a>
							</div>
						))}
					</div>
				</div>
				<div class="home-section__tags-block" >
					<div class="home-section__tags-list" data-parallax data-parallax-orientation="right" data-parallax-scale="3">
						{tagsSecond.map(item => (
							<div class="home-section__tags-item">
								<a href="" class="home-section__tags-link" set:html={item}></a>
							</div>
						))}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>