---
import Icon from '@components/modules/Icon.astro';
const items = [
	{
		icon: "file",
		title: "Бриф",
		text: "Принимаем задачу в&nbsp;работу, уточняем детали и&nbsp;проговариваем принципиальные вводные"
	},
	{
		icon: "lamp",
		title: "Креатив",
		text: "Разрабатываем несколько креативных концепций, которые отличаются друг от&nbsp;друга стилем, объемом работ и&nbsp;бюджетом"
	},
	{
		icon: "swap",
		title: "Препродакшн",
		text: "Пишем и&nbsp;согласовываем сценарий, графические концепты, подбираем локацию и&nbsp;съемочную группу"
	},
	{
		icon: "film",
		title: "Продакшн",
		text: "Выезжаем на&nbsp;локацию и&nbsp;снимаем"
	},
	{
		icon: "check-square",
		title: "Постпродакшн",
		text: "Монтируем, рисуем сториборд, анимируем графику, сводим звук, делаем цветокоррекцию и&nbsp;отдаем готовый ролик"
	},
]
---

<section class="section how-work-built">
	<div class="container">
		<div class="how-work-built__inner">
			<div class="how-work-built__graphic">
				<div class="how-work-built__graphic-item how-work-built__graphic-item_triangle" data-parallax data-parallax-orientation="up" data-parallax-scale="1.6">
					<span class="how-work-built__graphic-triangle"></span>
				</div>
				<div class="how-work-built__graphic-item how-work-built__graphic-item_points"  data-parallax data-parallax-orientation="up" data-parallax-scale="1.9">
					<svg class="how-work-built__graphic-points" width="114" height="113" viewBox="0 0 114 113" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.27803 4.08915C8.27803 6.38306 6.48279 8.17828 4.18888 8.17828C1.89497 8.17828 0 6.38306 0 4.08915C0 1.79524 1.79524 0 4.08915 0C6.38306 0 8.27803 1.79524 8.27803 4.08915Z" fill="#2C2C2C"/>
						<path d="M8.27803 30.3197C8.27803 32.6136 6.48279 34.4088 4.18888 34.4088C1.89497 34.4088 0 32.6136 0 30.3197C0 28.0258 1.79524 26.2305 4.08915 26.2305C6.38306 26.2305 8.27803 28.0258 8.27803 30.3197Z" fill="#2C2C2C"/>
						<path d="M8.17829 56.5499C8.17829 58.8438 6.38306 60.6391 4.08915 60.6391C1.79524 60.6391 0 58.8438 0 56.5499C0 54.256 1.79524 52.4608 4.08915 52.4608C6.38306 52.4608 8.17829 54.256 8.17829 56.5499Z" fill="#2C2C2C"/>
						<path d="M8.17829 82.7801C8.17829 85.074 6.38306 86.8693 4.08915 86.8693C1.79524 86.8693 0 85.074 0 82.7801C0 80.4862 1.79524 78.691 4.08915 78.691C6.38306 78.5912 8.17829 80.4862 8.17829 82.7801Z" fill="#2C2C2C"/>
						<path d="M8.17829 108.911C8.17829 111.205 6.38306 113 4.08915 113C1.79524 113 0 111.205 0 108.911C0 106.617 1.79524 104.822 4.08915 104.822C6.38306 104.822 8.17829 106.717 8.17829 108.911Z" fill="#2C2C2C"/>
						<path d="M34.4088 30.3197C34.4088 32.6136 32.6135 34.4088 30.3196 34.4088C28.0257 34.4088 26.2305 32.6136 26.2305 30.3197C26.2305 28.0258 28.0257 26.2305 30.3196 26.2305C32.6135 26.2305 34.4088 28.0258 34.4088 30.3197Z" fill="#2C2C2C"/>
						<path d="M34.4088 56.5499C34.4088 58.8438 32.6135 60.6391 30.3196 60.6391C28.0257 60.6391 26.2305 58.8438 26.2305 56.5499C26.2305 54.256 28.0257 52.4608 30.3196 52.4608C32.6135 52.4608 34.4088 54.256 34.4088 56.5499Z" fill="#2C2C2C"/>
						<path d="M34.4088 82.7801C34.4088 85.074 32.6135 86.8693 30.3196 86.8693C28.0257 86.8693 26.2305 85.074 26.2305 82.7801C26.2305 80.4862 28.0257 78.691 30.3196 78.691C32.6135 78.5912 34.4088 80.4862 34.4088 82.7801Z" fill="#2C2C2C"/>
						<path d="M34.4088 108.911C34.4088 111.205 32.6135 113 30.3196 113C28.0257 113 26.2305 111.205 26.2305 108.911C26.2305 106.617 28.0257 104.822 30.3196 104.822C32.6135 104.822 34.4088 106.717 34.4088 108.911Z" fill="#2C2C2C"/>
						<path d="M60.6392 30.3197C60.6392 32.6136 58.844 34.4088 56.5501 34.4088C54.2562 34.4088 52.4609 32.6136 52.4609 30.3197C52.4609 28.0258 54.2562 26.2305 56.5501 26.2305C58.844 26.2305 60.6392 28.0258 60.6392 30.3197Z" fill="#2C2C2C"/>
						<path d="M60.6392 56.5499C60.6392 58.8438 58.844 60.6391 56.5501 60.6391C54.2562 60.6391 52.4609 58.8438 52.4609 56.5499C52.4609 54.256 54.2562 52.4608 56.5501 52.4608C58.844 52.4608 60.6392 54.256 60.6392 56.5499Z" fill="#2C2C2C"/>
						<path d="M60.6392 82.7801C60.6392 85.074 58.844 86.8693 56.5501 86.8693C54.2562 86.8693 52.4609 85.074 52.4609 82.7801C52.4609 80.4862 54.2562 78.691 56.5501 78.691C58.844 78.5912 60.6392 80.4862 60.6392 82.7801Z" fill="#2C2C2C"/>
						<path d="M60.6392 108.911C60.6392 111.205 58.844 113 56.5501 113C54.2562 113 52.4609 111.205 52.4609 108.911C52.4609 106.617 54.2562 104.822 56.5501 104.822C58.844 104.822 60.6392 106.717 60.6392 108.911Z" fill="#2C2C2C"/>
						<path d="M86.8697 30.3197C86.8697 32.6136 85.0745 34.4088 82.7806 34.4088C80.4866 34.4088 78.6914 32.6136 78.6914 30.3197C78.6914 28.0258 80.4866 26.2305 82.7806 26.2305C85.0745 26.2305 86.8697 28.0258 86.8697 30.3197Z" fill="#2C2C2C"/>
						<path d="M86.8697 56.5499C86.8697 58.8438 85.0745 60.6391 82.7806 60.6391C80.4866 60.6391 78.6914 58.8438 78.6914 56.5499C78.6914 54.256 80.4866 52.4608 82.7806 52.4608C85.0745 52.4608 86.8697 54.256 86.8697 56.5499Z" fill="#2C2C2C"/>
						<path d="M86.8697 82.7801C86.8697 85.074 85.0745 86.8693 82.7806 86.8693C80.4866 86.8693 78.6914 85.074 78.6914 82.7801C78.6914 80.4862 80.4866 78.691 82.7806 78.691C85.0745 78.5912 86.8697 80.4862 86.8697 82.7801Z" fill="#2C2C2C"/>
						<path d="M86.8697 108.911C86.8697 111.205 85.0745 113 82.7806 113C80.4866 113 78.6914 111.205 78.6914 108.911C78.6914 106.617 80.4866 104.822 82.7806 104.822C85.0745 104.822 86.8697 106.717 86.8697 108.911Z" fill="#2C2C2C"/>
						<path d="M113.1 30.3197C113.1 32.6136 111.305 34.4088 109.011 34.4088C106.717 34.4088 104.922 32.6136 104.922 30.3197C104.922 28.0258 106.717 26.2305 109.011 26.2305C111.205 26.2305 113.1 28.0258 113.1 30.3197Z" fill="#2C2C2C"/>
						<path d="M113.1 56.5499C113.1 58.8438 111.305 60.6391 109.011 60.6391C106.717 60.6391 104.922 58.8438 104.922 56.5499C104.922 54.256 106.717 52.4608 109.011 52.4608C111.205 52.4608 113.1 54.256 113.1 56.5499Z" fill="#2C2C2C"/>
						<path d="M113.1 82.7801C113.1 85.074 111.305 86.8693 109.011 86.8693C106.717 86.8693 104.922 85.074 104.922 82.7801C104.922 80.4862 106.717 78.691 109.011 78.691C111.205 78.5912 113.1 80.4862 113.1 82.7801Z" fill="#2C2C2C"/>
						<path d="M113.1 108.911C113.1 111.205 111.305 113 109.011 113C106.717 113 104.922 111.205 104.922 108.911C104.922 106.617 106.717 104.822 109.011 104.822C111.205 104.822 113.1 106.717 113.1 108.911Z" fill="#2C2C2C"/>
						<path d="M34.4088 4.08915C34.4088 6.38306 32.6135 8.17828 30.3196 8.17828C28.0257 8.17828 26.2305 6.38306 26.2305 4.08915C26.2305 1.79524 28.0257 0 30.3196 0C32.6135 0 34.4088 1.79524 34.4088 4.08915Z" fill="#2C2C2C"/>
						<path d="M60.6392 4.08915C60.6392 6.38306 58.844 8.17828 56.5501 8.17828C54.2562 8.17828 52.4609 6.38306 52.4609 4.08915C52.4609 1.79524 54.2562 0 56.5501 0C58.844 0 60.6392 1.79524 60.6392 4.08915Z" fill="#2C2C2C"/>
						<path d="M86.8697 4.08915C86.8697 6.38306 85.0745 8.17828 82.7806 8.17828C80.4866 8.17828 78.6914 6.38306 78.6914 4.08915C78.6914 1.79524 80.4866 0 82.7806 0C85.0745 0 86.8697 1.79524 86.8697 4.08915Z" fill="#2C2C2C"/>
						<path d="M21.4429 17.2544C21.4429 19.5483 19.6477 21.3435 17.3538 21.3435C15.0599 21.3435 13.2646 19.5483 13.2646 17.2544C13.2646 14.9604 15.0599 13.1652 17.3538 13.1652C19.548 13.0655 21.4429 14.9604 21.4429 17.2544Z" fill="#2C2C2C"/>
						<path d="M47.5738 17.2544C47.5738 19.5483 45.7786 21.3435 43.4847 21.3435C41.1907 21.3435 39.3955 19.5483 39.3955 17.2544C39.3955 14.9604 41.1907 13.1652 43.4847 13.1652C45.7786 13.0655 47.5738 14.9604 47.5738 17.2544Z" fill="#2C2C2C"/>
						<path d="M73.8043 17.2542C73.8043 19.5481 72.009 21.3433 69.7151 21.3433C67.4212 21.3433 65.626 19.5481 65.626 17.2542C65.626 14.9603 67.4212 13.165 69.7151 13.165C72.009 13.165 73.8043 14.9603 73.8043 17.2542Z" fill="#2C2C2C"/>
						<path d="M99.9351 17.2544C99.9351 19.5483 98.1399 21.3435 95.846 21.3435C93.5521 21.3435 91.7568 19.5483 91.7568 17.2544C91.7568 14.9604 93.5521 13.1652 95.846 13.1652C98.1399 13.0655 99.9351 14.9604 99.9351 17.2544Z" fill="#2C2C2C"/>
						<path d="M21.4429 43.3849C21.4429 45.6788 19.6477 47.4741 17.3538 47.4741C15.0599 47.4741 13.2646 45.6788 13.2646 43.3849C13.2646 41.091 15.0599 39.2958 17.3538 39.2958C19.548 39.2958 21.4429 41.1908 21.4429 43.3849Z" fill="#2C2C2C"/>
						<path d="M47.5738 43.3849C47.5738 45.6788 45.7786 47.4741 43.4847 47.4741C41.1907 47.4741 39.3955 45.6788 39.3955 43.3849C39.3955 41.091 41.1907 39.2958 43.4847 39.2958C45.7786 39.2958 47.5738 41.1908 47.5738 43.3849Z" fill="#2C2C2C"/>
						<path d="M73.8043 43.3849C73.8043 45.6788 72.009 47.4741 69.7151 47.4741C67.4212 47.4741 65.626 45.6788 65.626 43.3849C65.626 41.091 67.4212 39.2958 69.7151 39.2958C72.009 39.2958 73.8043 41.1908 73.8043 43.3849Z" fill="#2C2C2C"/>
						<path d="M99.9351 43.3849C99.9351 45.6788 98.1399 47.4741 95.846 47.4741C93.5521 47.4741 91.7568 45.6788 91.7568 43.3849C91.7568 41.091 93.5521 39.2958 95.846 39.2958C98.1399 39.2958 99.9351 41.1908 99.9351 43.3849Z" fill="#2C2C2C"/>
						<path d="M21.4429 69.6152C21.4429 71.9091 19.6477 73.7043 17.3538 73.7043C15.0599 73.7043 13.2646 71.9091 13.2646 69.6152C13.2646 67.3212 15.0599 65.526 17.3538 65.526C19.548 65.526 21.4429 67.3212 21.4429 69.6152Z" fill="#2C2C2C"/>
						<path d="M47.5738 69.6152C47.5738 71.9091 45.7786 73.7043 43.4847 73.7043C41.1907 73.7043 39.3955 71.9091 39.3955 69.6152C39.3955 67.3212 41.1907 65.526 43.4847 65.526C45.7786 65.526 47.5738 67.3212 47.5738 69.6152Z" fill="#2C2C2C"/>
						<path d="M73.8043 69.6152C73.8043 71.9091 72.009 73.7043 69.7151 73.7043C67.4212 73.7043 65.626 71.9091 65.626 69.6152C65.626 67.3212 67.4212 65.526 69.7151 65.526C72.009 65.526 73.8043 67.3212 73.8043 69.6152Z" fill="#2C2C2C"/>
						<path d="M99.9351 69.6152C99.9351 71.9091 98.1399 73.7043 95.846 73.7043C93.5521 73.7043 91.7568 71.9091 91.7568 69.6152C91.7568 67.3212 93.5521 65.526 95.846 65.526C98.1399 65.526 99.9351 67.3212 99.9351 69.6152Z" fill="#2C2C2C"/>
						<path d="M21.4429 95.8457C21.4429 98.1397 19.6477 99.9349 17.3538 99.9349C15.0599 99.9349 13.2646 98.1397 13.2646 95.8457C13.2646 93.5518 15.0599 91.7566 17.3538 91.7566C19.548 91.7566 21.4429 93.5518 21.4429 95.8457Z" fill="#2C2C2C"/>
						<path d="M47.5738 95.8457C47.5738 98.1397 45.7786 99.9349 43.4847 99.9349C41.1907 99.9349 39.3955 98.1397 39.3955 95.8457C39.3955 93.5518 41.1907 91.7566 43.4847 91.7566C45.7786 91.7566 47.5738 93.5518 47.5738 95.8457Z" fill="#2C2C2C"/>
						<path d="M73.8043 95.8457C73.8043 98.1397 72.009 99.9349 69.7151 99.9349C67.4212 99.9349 65.626 98.1397 65.626 95.8457C65.626 93.5518 67.4212 91.7566 69.7151 91.7566C72.009 91.7566 73.8043 93.5518 73.8043 95.8457Z" fill="#2C2C2C"/>
						<path d="M99.9351 95.8457C99.9351 98.1397 98.1399 99.9349 95.846 99.9349C93.5521 99.9349 91.7568 98.1397 91.7568 95.8457C91.7568 93.5518 93.5521 91.7566 95.846 91.7566C98.1399 91.7566 99.9351 93.5518 99.9351 95.8457Z" fill="#2C2C2C"/>
						<path d="M113.1 4.08915C113.1 6.38306 111.305 8.17828 109.011 8.17828C106.717 8.17828 104.922 6.38306 104.922 4.08915C104.922 1.79524 106.717 0 109.011 0C111.205 0 113.1 1.79524 113.1 4.08915Z" fill="#2C2C2C"/>
					</svg>
				</div>
			</div>
		
			<div class="how-work-built__row">
				<div class="how-work-built__column">
					<h2 class="how-work-built__title section-title">Как строится работа</h2>
				</div>
				<div class="how-work-built__column">
					<div class="how-work-built__items">
						
						{items.map((item, index) => (
							<div class="how-work-built__item">
								<div class="how-work-built__item-icon-box">
									<Icon class="how-work-built__item-icon" name={item.icon}></Icon>
								</div>
								<div class="how-work-built__item-title" set:html={item.title}></div>
								<div class="how-work-built__item-text">
									<p set:html={item.text}></p>
								</div>
							</div>
							
							))}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>