---
import Icon from '@components/modules/Icon.astro';
---

<section class="section reviews">
	<div class="container">
		<div class="reviews__content">
			<h2 class="reviews__title">Отзывы клиентов</h2>
			
			<div class=" card-slider reviews__slider js-slider-cards">
				<div class="card-slider__items reviews__slider-items js-slider-cards-items">
					<div class="card-slider__item reviews__item js-slider-cards-item is-active" data-slide="0">
						<div class="card-slider__item-inner reviews__item-inner">
							<div class="reviews__item-row">
								<div class="reviews__item-content">
									<div class="reviews__item-text">
										<p>Наша компания уже больше 15&nbsp;лет организует деловые и&nbsp;развлекательные мероприятия для корпоративных клиентов, и&nbsp;минимум 5&nbsp;из&nbsp;них мы&nbsp;сотрудничаем с&nbsp;dt&nbsp;group. Проектов было много, некоторые технически очень сложные. Бывали и&nbsp;срочные съемки, и&nbsp;всегда ребята из&nbsp;dt&nbsp;все понимают с&nbsp;полуслова и&nbsp;действуют уверенно, надежно, без суеты и&nbsp;излишней бюрократии. За&nbsp;то&nbsp;и&nbsp;ценим.</p>
									</div>
									<div class="reviews__item-author">
										Сергей Орешников, технический директор ADA-Symposium
									</div>
								</div>
								<div class="reviews__item-logo">
									<img class="reviews__item-logo-image lazy" data-src="img/symbols.png" data-srcset="img/symbols@2x.png" width="80" height="80" alt="" />
								</div>
							</div>
						</div>
					</div> 
					<div class="card-slider__item reviews__item js-slider-cards-item " data-slide="1">
						<div class="card-slider__item-inner reviews__item-inner">
							<div class="reviews__item-row">
								<div class="reviews__item-content">
									<div class="reviews__item-text">
										<p>Наша компания уже больше 15&nbsp;лет организует деловые и&nbsp;развлекательные мероприятия для корпоративных клиентов, и&nbsp;минимум 5&nbsp;из&nbsp;них мы&nbsp;сотрудничаем с&nbsp;dt&nbsp;group. Проектов было много, некоторые технически очень сложные. Бывали и&nbsp;срочные съемки, и&nbsp;всегда ребята</p>
									</div>
									<div class="reviews__item-author">
										Сергей Орешников, технический директор ADA-Symposium
									</div>
								</div>
								<div class="reviews__item-logo">
									<img class="reviews__item-logo-image lazy" data-src="img/symbols.png" data-srcset="img/symbols@2x.png" width="80" height="80" alt="" />
								</div>
							</div>
						</div>
					</div> 
					<div class="card-slider__item reviews__item js-slider-cards-item" data-slide="2">
						<div class="card-slider__item-inner reviews__item-inner">
							<div class="reviews__item-row">
								<div class="reviews__item-content">
									<div class="reviews__item-text">
										<p>Наша компания уже больше 15&nbsp;лет организует деловые и&nbsp;развлекательные мероприятия для корпоративных клиентов, и&nbsp;минимум 5&nbsp;из&nbsp;них мы&nbsp;сотрудничаем с&nbsp;dt&nbsp;group. </p>
									</div>
									<div class="reviews__item-author">
										Сергей Орешников, технический директор ADA-Symposium
									</div>
								</div>
								<div class="reviews__item-logo">
									<img class="reviews__item-logo-image lazy" data-src="img/symbols.png" data-srcset="img/symbols@2x.png" width="80" height="80" alt="" />
								</div>
							</div>
						</div>
					</div> 
					<div class="card-slider__item reviews__item js-slider-cards-item" data-slide="3">
						<div class="card-slider__item-inner reviews__item-inner">
							<div class="reviews__item-row">
								<div class="reviews__item-content">
									<div class="reviews__item-text">
										<p>Наша компания уже больше 15&nbsp;лет организует деловые и&nbsp;развлекательные мероприятия для корпоративных клиентов, и&nbsp;минимум 5&nbsp;из&nbsp;них мы&nbsp;сотрудничаем с&nbsp;dt&nbsp;group. Проектов было много, некоторые технически очень сложные. Бывали и&nbsp;срочные съемки, и&nbsp;всегда ребята из&nbsp;dt&nbsp;все понимают с&nbsp;полуслова и&nbsp;действуют уверенно, надежно</p>
									</div>
									<div class="reviews__item-author">
										Сергей Орешников, технический директор ADA-Symposium
									</div>
								</div>
								<div class="reviews__item-logo">
									<img class="reviews__item-logo-image lazy" data-src="img/symbols.png" data-srcset="img/symbols@2x.png" width="80" height="80" alt="" />
								</div>
							</div>
						</div>
					</div>
					<div class="card-slider__item reviews__item js-slider-cards-item" data-slide="4">
						<div class="card-slider__item-inner reviews__item-inner">
							<div class="reviews__item-row">
								<div class="reviews__item-content">
									<div class="reviews__item-text">
										<p>Наша компания уже больше 15&nbsp;лет организует деловые и&nbsp;развлекательные мероприятия для корпоративных клиентов, и&nbsp;минимум 5&nbsp;из&nbsp;них мы&nbsp;сотрудничаем с&nbsp;dt&nbsp;group. Проектов было много, некоторые технически очень сложные. Бывали и&nbsp;срочные съемки, и&nbsp;всегда ребята из&nbsp;dt&nbsp;все понимают с&nbsp;полуслова и&nbsp;действуют уверенно, надежно, без суеты и&nbsp;излишней бюрократии. За&nbsp;то&nbsp;и&nbsp;ценим.</p>
									</div>
									<div class="reviews__item-author">
										Сергей Орешников, технический директор ADA-Symposium
									</div>
								</div>
								<div class="reviews__item-logo">
									<img class="reviews__item-logo-image lazy" data-src="img/symbols.png" data-srcset="img/symbols@2x.png" width="80" height="80" alt="" />
								</div>
							</div>
						</div>
					</div> 
				</div>
				<button type="button" class="card-slider__next reviews__slider-next js-slider-cards-next" aria-label="Следующий отзыв">
					<Icon name="arrow"></Icon>
				</button>
				<div class="card-slider__pagination reviews__slider-pagination js-slider-cards-pagination slider-pagination">
					<div class="slider-pagination__item js-slider-cards-pagination-item is-active" data-index="0"></div>
					<div class="slider-pagination__item js-slider-cards-pagination-item" data-index="1"></div>
					<div class="slider-pagination__item js-slider-cards-pagination-item" data-index="2"></div>
					<div class="slider-pagination__item js-slider-cards-pagination-item" data-index="3"></div>
					<div class="slider-pagination__item js-slider-cards-pagination-item" data-index="4"></div>
				</div>
			</div>
		</div>
	</div>
</section>