---
interface Props {
    style?: 'light';
    class?: string;
    [x: string]: any;
}

const { 
	style,
	list = [], 
	class: className,
	...rest
} = Astro.props;

---

<div 
	class:list={[
		'social',
		`social_style_${style}`,
		className,
	]}
	{...rest}
>
	{list.map((item) => (
		<a href="" class:list={
			[
				"social__link",
				item.disabled ? "social__link_disabled" : '',
				item.rounded ? "social__link_rounded" : ''
			]
		} title={item.label} aria-label={item.label} set:html={item.icon}></a>
	))}
</div>
