---
import Layout from '@layouts/layout.astro';
import Heading from '@components/blocks/Heading.astro';

const items = [
	{
		year: "2003",
		mainText: "Студия dt&nbsp;group была основана тремя студентами-первокурсниками МГУ. Увлечение видеопродакшном, хотя такого слова в&nbsp;2003 году особо никто не&nbsp;знал, пришло из&nbsp;первых школьных любительских фильмов.",
		text: "<p>В университете простор для творчества был больше: КВН, студенческие мероприятия, выезды, вечеринки. Мы обросли знакомствами, появились первые заказчики. Тогда основные наши работы начинались со слов «Выпускной», «Свадьба», «День рождения». Первым «офисом» была небольшая съемная квартира, а весь парк нашего оборудования помещался в пару рюкзаков.</p>",
	},
	{
		year: "2005",
		mainText: "Мы&nbsp;получили первый серьезный заказ&nbsp;&mdash; видеоконтент для мероприятия журнала &laquo;Афиша&raquo;, и&nbsp;вместе с&nbsp;этим первого серьезного заказчика в&nbsp;лице крупного рекламного агентства.",
		text: "",
	},
	{
		year: "2006",
		mainText: "С&nbsp;такими заказами и&nbsp;такими серьезными клиентами пришло время обзавестись и&nbsp;первым офисом. Это было небольшое полуподвальное помещение в&nbsp;жилом доме в&nbsp;районе метро Семеновская.",
		text: "<p>Офис постепенно загружался компьютерами, съемочным оборудованием, а&nbsp;общая папка &laquo;АРХИВ&raquo; на&nbsp;одном из&nbsp;жестких дисков уже позволяла сделать несколько скроллов мышкой, чтобы пролистать все проекты: количество заказов постоянно росло.</p>",
	},
	{
		year: "2007",
		mainText: "К&nbsp;этому моменту мы&nbsp;не&nbsp;только снимали, монтировали и&nbsp;рисовали компьютерную графику, но&nbsp;и&nbsp;делали свои первые трансляции на&nbsp;мероприятиях.",
		text: "",
	},
	{
		year: "2008",
		mainText: "Выездные съемки серьезных корпоративных фильмов и различных мероприятий стали регулярными, и пришло время первой заграничной командировки: съемочная группа по заказу крупного туроператора вылетела в Иорданию.",
		text: "",
	},
	{
		year: "2009",
		mainText: "Примерно тогда во&nbsp;всем мире случился кризис, а&nbsp;у&nbsp;нас приключилось кое-что поинтереснее. В&nbsp;разгар майских праздников полуподвальная история внезапно драматически закончилась: кто-то украл почти все наше съемочное оборудование и&nbsp;другие ценности из&nbsp;офиса.",
		text: "<p>&laquo;Другие&nbsp;бы опустили руки...&raquo; &copy;&nbsp;Одним словом, мы&nbsp;собрали все, что осталось и&nbsp;срочно переехали в&nbsp;новый просторный офис на&nbsp;Электродной улице. У&nbsp;нас в&nbsp;прямом смысле появились новые рабочие места и&nbsp;мы&nbsp;принялись увеличивать команду специалистов и&nbsp;по&nbsp;мере возможности наращивать свой парк оборудования. Теперь над нами были не&nbsp;квартиры несчатных соседей, а&nbsp;настоящая стеклянная панорамная крыша.</p>",
	},
	{
		year: "2010",
		mainText: "Настал момент, когда возможности программы Excel иссякли, и&nbsp;мы&nbsp;внедрили первую CRM-систему, всерьез взялись за&nbsp;организацию производства на&nbsp;совсем &laquo;взрослый&raquo; манер. Перестроили структуру компании, перераспределили обязанности между руководителями и&nbsp;даже оборудовали свою профессиональную звукозаписывающую студию.",
		text: "",
	},
	{
		year: "2012",
		mainText: "У&nbsp;нас появился свой собственный хромакейный павильон, и&nbsp;с&nbsp;этого момента мы&nbsp;официально стали видеопродакшном полного цикла.",
		text: "<p>Тем временем производство стало занимать уже два этажа офисного здания, и&nbsp;появились даже атрибуты комфорта: лаундж-зона с&nbsp;диванами и&nbsp;игровой приставкой, и&nbsp;целых две кофемашины. В&nbsp;это&nbsp;же время мы&nbsp;стали одними из&nbsp;пионеров коммерческой аэросъемки с&nbsp;использованием мультикоптеров (тогда практически нельзя было купить готовый аппарат, и&nbsp;каждый дрон был произведением искусства ручной работы).</p>",
	},
]
---

<Layout title="История">
    <Heading type={'history'} title="История"></Heading>
	<div class="section p-history">
		<div class="container">
			<div class="p-history__items">
				{items.map((item, index) => (
					<div class={`p-history__item p-history__item__${item.year}`}>
						<div class="p-history__item-graphic-box"><span class="p-history__item-graphic"></span></div>
						<div class="p-history__item-content">
							<div class="p-history__item-year" set:html={item.year}></div>
							<div class="p-history__item-text">
								<p set:html={item.mainText}></p>
								{
									item.text ? <Fragment set:html={item.text}></Fragment> : ''
								}
							</div>
						</div>
					</div>
				))}
			</div>
			<div class="p-history__confidence">
				<div class="p-history__confidence-graphic">
					<svg class="p-history__confidence-graphic-points" width="108" height="107" viewBox="0 0 108 107" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.83849 3.87203C7.83849 6.04414 6.13858 7.74403 3.96646 7.74403C1.79435 7.74403 0 6.04414 0 3.87203C0 1.69992 1.69991 0 3.87202 0C6.04414 0 7.83849 1.69992 7.83849 3.87203Z" fill="#2C2C2C"/>
						<path d="M7.83849 28.7097C7.83849 30.8818 6.13858 32.5817 3.96646 32.5817C1.79435 32.5817 0 30.8818 0 28.7097C0 26.5376 1.69991 24.8376 3.87202 24.8376C6.04414 24.8376 7.83849 26.5376 7.83849 28.7097Z" fill="#2C2C2C"/>
						<path d="M7.74405 53.5472C7.74405 55.7193 6.04414 57.4192 3.87202 57.4192C1.69991 57.4192 0 55.7193 0 53.5472C0 51.3751 1.69991 49.6752 3.87202 49.6752C6.04414 49.6752 7.74405 51.3751 7.74405 53.5472Z" fill="#2C2C2C"/>
						<path d="M7.74405 78.3848C7.74405 80.5569 6.04414 82.2568 3.87202 82.2568C1.69991 82.2568 0 80.5569 0 78.3848C0 76.2126 1.69991 74.5127 3.87202 74.5127C6.04414 74.4183 7.74405 76.2126 7.74405 78.3848Z" fill="#2C2C2C"/>
						<path d="M7.74405 103.128C7.74405 105.3 6.04414 107 3.87202 107C1.69991 107 0 105.3 0 103.128C0 100.956 1.69991 99.256 3.87202 99.256C6.04414 99.256 7.74405 101.05 7.74405 103.128Z" fill="#2C2C2C"/>
						<path d="M32.5819 28.7097C32.5819 30.8818 30.882 32.5817 28.7099 32.5817C26.5378 32.5817 24.8379 30.8818 24.8379 28.7097C24.8379 26.5376 26.5378 24.8376 28.7099 24.8376C30.882 24.8376 32.5819 26.5376 32.5819 28.7097Z" fill="#2C2C2C"/>
						<path d="M32.5819 53.5472C32.5819 55.7193 30.882 57.4192 28.7099 57.4192C26.5378 57.4192 24.8379 55.7193 24.8379 53.5472C24.8379 51.3751 26.5378 49.6752 28.7099 49.6752C30.882 49.6752 32.5819 51.3751 32.5819 53.5472Z" fill="#2C2C2C"/>
						<path d="M32.5819 78.3848C32.5819 80.5569 30.882 82.2568 28.7099 82.2568C26.5378 82.2568 24.8379 80.5569 24.8379 78.3848C24.8379 76.2126 26.5378 74.5127 28.7099 74.5127C30.882 74.4183 32.5819 76.2126 32.5819 78.3848Z" fill="#2C2C2C"/>
						<path d="M32.5819 103.128C32.5819 105.3 30.882 107 28.7099 107C26.5378 107 24.8379 105.3 24.8379 103.128C24.8379 100.956 26.5378 99.256 28.7099 99.256C30.882 99.256 32.5819 101.05 32.5819 103.128Z" fill="#2C2C2C"/>
						<path d="M57.4198 28.7097C57.4198 30.8818 55.7199 32.5817 53.5478 32.5817C51.3757 32.5817 49.6758 30.8818 49.6758 28.7097C49.6758 26.5376 51.3757 24.8376 53.5478 24.8376C55.7199 24.8376 57.4198 26.5376 57.4198 28.7097Z" fill="#2C2C2C"/>
						<path d="M57.4198 53.5473C57.4198 55.7194 55.7199 57.4193 53.5478 57.4193C51.3757 57.4193 49.6758 55.7194 49.6758 53.5473C49.6758 51.3752 51.3757 49.6753 53.5478 49.6753C55.7199 49.6753 57.4198 51.3752 57.4198 53.5473Z" fill="#2C2C2C"/>
						<path d="M57.4198 78.3849C57.4198 80.557 55.7199 82.2569 53.5478 82.2569C51.3757 82.2569 49.6758 80.557 49.6758 78.3849C49.6758 76.2128 51.3757 74.5128 53.5478 74.5128C55.7199 74.4184 57.4198 76.2128 57.4198 78.3849Z" fill="#2C2C2C"/>
						<path d="M57.4198 103.128C57.4198 105.3 55.7199 107 53.5478 107C51.3757 107 49.6758 105.3 49.6758 103.128C49.6758 100.956 51.3757 99.2561 53.5478 99.2561C55.7199 99.2561 57.4198 101.05 57.4198 103.128Z" fill="#2C2C2C"/>
						<path d="M82.2567 28.7097C82.2567 30.8818 80.5568 32.5817 78.3847 32.5817C76.2126 32.5817 74.5127 30.8818 74.5127 28.7097C74.5127 26.5376 76.2126 24.8376 78.3847 24.8376C80.5568 24.8376 82.2567 26.5376 82.2567 28.7097Z" fill="#2C2C2C"/>
						<path d="M82.2567 53.5473C82.2567 55.7194 80.5568 57.4193 78.3847 57.4193C76.2126 57.4193 74.5127 55.7194 74.5127 53.5473C74.5127 51.3752 76.2126 49.6753 78.3847 49.6753C80.5568 49.6753 82.2567 51.3752 82.2567 53.5473Z" fill="#2C2C2C"/>
						<path d="M82.2567 78.3849C82.2567 80.557 80.5568 82.2569 78.3847 82.2569C76.2126 82.2569 74.5127 80.557 74.5127 78.3849C74.5127 76.2128 76.2126 74.5128 78.3847 74.5128C80.5568 74.4184 82.2567 76.2128 82.2567 78.3849Z" fill="#2C2C2C"/>
						<path d="M82.2567 103.128C82.2567 105.3 80.5568 107 78.3847 107C76.2126 107 74.5127 105.3 74.5127 103.128C74.5127 100.956 76.2126 99.2561 78.3847 99.2561C80.5568 99.2561 82.2567 101.05 82.2567 103.128Z" fill="#2C2C2C"/>
						<path d="M107.095 28.7097C107.095 30.8818 105.395 32.5817 103.223 32.5817C101.051 32.5817 99.3506 30.8818 99.3506 28.7097C99.3506 26.5376 101.051 24.8376 103.223 24.8376C105.3 24.8376 107.095 26.5376 107.095 28.7097Z" fill="#2C2C2C"/>
						<path d="M107.095 53.5472C107.095 55.7193 105.395 57.4192 103.223 57.4192C101.051 57.4192 99.3506 55.7193 99.3506 53.5472C99.3506 51.3751 101.051 49.6752 103.223 49.6752C105.3 49.6752 107.095 51.3751 107.095 53.5472Z" fill="#2C2C2C"/>
						<path d="M107.095 78.3848C107.095 80.5569 105.395 82.2568 103.223 82.2568C101.051 82.2568 99.3506 80.5569 99.3506 78.3848C99.3506 76.2126 101.051 74.5127 103.223 74.5127C105.3 74.4183 107.095 76.2126 107.095 78.3848Z" fill="#2C2C2C"/>
						<path d="M107.095 103.128C107.095 105.3 105.395 107 103.223 107C101.051 107 99.3506 105.3 99.3506 103.128C99.3506 100.956 101.051 99.256 103.223 99.256C105.3 99.256 107.095 101.05 107.095 103.128Z" fill="#2C2C2C"/>
						<path d="M32.5819 3.87203C32.5819 6.04414 30.882 7.74403 28.7099 7.74403C26.5378 7.74403 24.8379 6.04414 24.8379 3.87203C24.8379 1.69992 26.5378 0 28.7099 0C30.882 0 32.5819 1.69992 32.5819 3.87203Z" fill="#2C2C2C"/>
						<path d="M57.4198 3.87203C57.4198 6.04414 55.7199 7.74403 53.5478 7.74403C51.3757 7.74403 49.6758 6.04414 49.6758 3.87203C49.6758 1.69992 51.3757 0 53.5478 0C55.7199 0 57.4198 1.69992 57.4198 3.87203Z" fill="#2C2C2C"/>
						<path d="M82.2567 3.87203C82.2567 6.04414 80.5568 7.74403 78.3847 7.74403C76.2126 7.74403 74.5127 6.04414 74.5127 3.87203C74.5127 1.69992 76.2126 0 78.3847 0C80.5568 0 82.2567 1.69992 82.2567 3.87203Z" fill="#2C2C2C"/>
						<path d="M20.3046 16.3381C20.3046 18.5102 18.6047 20.2102 16.4326 20.2102C14.2605 20.2102 12.5605 18.5102 12.5605 16.3381C12.5605 14.166 14.2605 12.4661 16.4326 12.4661C18.5102 12.3717 20.3046 14.166 20.3046 16.3381Z" fill="#2C2C2C"/>
						<path d="M45.0478 16.3381C45.0478 18.5102 43.3478 20.2102 41.1757 20.2102C39.0036 20.2102 37.3037 18.5102 37.3037 16.3381C37.3037 14.166 39.0036 12.4661 41.1757 12.4661C43.3478 12.3717 45.0478 14.166 45.0478 16.3381Z" fill="#2C2C2C"/>
						<path d="M69.8856 16.3381C69.8856 18.5102 68.1857 20.2101 66.0136 20.2101C63.8415 20.2101 62.1416 18.5102 62.1416 16.3381C62.1416 14.166 63.8415 12.4661 66.0136 12.4661C68.1857 12.4661 69.8856 14.166 69.8856 16.3381Z" fill="#2C2C2C"/>
						<path d="M94.6288 16.3381C94.6288 18.5102 92.9289 20.2102 90.7568 20.2102C88.5847 20.2102 86.8848 18.5102 86.8848 16.3381C86.8848 14.166 88.5847 12.4661 90.7568 12.4661C92.9289 12.3717 94.6288 14.166 94.6288 16.3381Z" fill="#2C2C2C"/>
						<path d="M20.3046 41.0811C20.3046 43.2532 18.6047 44.9532 16.4326 44.9532C14.2605 44.9532 12.5605 43.2532 12.5605 41.0811C12.5605 38.909 14.2605 37.2091 16.4326 37.2091C18.5102 37.2091 20.3046 39.0035 20.3046 41.0811Z" fill="#2C2C2C"/>
						<path d="M45.0478 41.0811C45.0478 43.2532 43.3478 44.9532 41.1757 44.9532C39.0036 44.9532 37.3037 43.2532 37.3037 41.0811C37.3037 38.909 39.0036 37.2091 41.1757 37.2091C43.3478 37.2091 45.0478 39.0035 45.0478 41.0811Z" fill="#2C2C2C"/>
						<path d="M69.8856 41.0811C69.8856 43.2532 68.1857 44.9532 66.0136 44.9532C63.8415 44.9532 62.1416 43.2532 62.1416 41.0811C62.1416 38.909 63.8415 37.2091 66.0136 37.2091C68.1857 37.2091 69.8856 39.0035 69.8856 41.0811Z" fill="#2C2C2C"/>
						<path d="M94.6288 41.0811C94.6288 43.2532 92.9289 44.9532 90.7568 44.9532C88.5847 44.9532 86.8848 43.2532 86.8848 41.0811C86.8848 38.909 88.5847 37.2091 90.7568 37.2091C92.9289 37.2091 94.6288 39.0035 94.6288 41.0811Z" fill="#2C2C2C"/>
						<path d="M20.3046 65.9189C20.3046 68.091 18.6047 69.7909 16.4326 69.7909C14.2605 69.7909 12.5605 68.091 12.5605 65.9189C12.5605 63.7468 14.2605 62.0469 16.4326 62.0469C18.5102 62.0469 20.3046 63.7468 20.3046 65.9189Z" fill="#2C2C2C"/>
						<path d="M45.0478 65.9189C45.0478 68.091 43.3478 69.7909 41.1757 69.7909C39.0036 69.7909 37.3037 68.091 37.3037 65.9189C37.3037 63.7468 39.0036 62.0469 41.1757 62.0469C43.3478 62.0469 45.0478 63.7468 45.0478 65.9189Z" fill="#2C2C2C"/>
						<path d="M69.8856 65.9189C69.8856 68.091 68.1857 69.7909 66.0136 69.7909C63.8415 69.7909 62.1416 68.091 62.1416 65.9189C62.1416 63.7468 63.8415 62.0469 66.0136 62.0469C68.1857 62.0469 69.8856 63.7468 69.8856 65.9189Z" fill="#2C2C2C"/>
						<path d="M94.6288 65.9189C94.6288 68.091 92.9289 69.7909 90.7568 69.7909C88.5847 69.7909 86.8848 68.091 86.8848 65.9189C86.8848 63.7468 88.5847 62.0469 90.7568 62.0469C92.9289 62.0469 94.6288 63.7468 94.6288 65.9189Z" fill="#2C2C2C"/>
						<path d="M20.3046 90.7566C20.3046 92.9287 18.6047 94.6286 16.4326 94.6286C14.2605 94.6286 12.5605 92.9287 12.5605 90.7566C12.5605 88.5844 14.2605 86.8845 16.4326 86.8845C18.5102 86.8845 20.3046 88.5844 20.3046 90.7566Z" fill="#2C2C2C"/>
						<path d="M45.0478 90.7566C45.0478 92.9287 43.3478 94.6286 41.1757 94.6286C39.0036 94.6286 37.3037 92.9287 37.3037 90.7566C37.3037 88.5844 39.0036 86.8845 41.1757 86.8845C43.3478 86.8845 45.0478 88.5844 45.0478 90.7566Z" fill="#2C2C2C"/>
						<path d="M69.8856 90.7566C69.8856 92.9287 68.1857 94.6286 66.0136 94.6286C63.8415 94.6286 62.1416 92.9287 62.1416 90.7566C62.1416 88.5844 63.8415 86.8845 66.0136 86.8845C68.1857 86.8845 69.8856 88.5844 69.8856 90.7566Z" fill="#2C2C2C"/>
						<path d="M94.6288 90.7566C94.6288 92.9287 92.9289 94.6286 90.7568 94.6286C88.5847 94.6286 86.8848 92.9287 86.8848 90.7566C86.8848 88.5844 88.5847 86.8845 90.7568 86.8845C92.9289 86.8845 94.6288 88.5844 94.6288 90.7566Z" fill="#2C2C2C"/>
						<path d="M107.095 3.87203C107.095 6.04414 105.395 7.74403 103.223 7.74403C101.051 7.74403 99.3506 6.04414 99.3506 3.87203C99.3506 1.69992 101.051 0 103.223 0C105.3 0 107.095 1.69992 107.095 3.87203Z" fill="#2C2C2C"/>
					</svg>
						
					<span class="p-history__confidence-graphic-ball"></span>
				</div>
				<div class="p-history__confidence-box">
					<div class="p-history__confidence-text">
						<p>И&nbsp;с&nbsp;уверенностью и&nbsp;оптимизмом смотрим в&nbsp;новый, 2023й&nbsp;&mdash; год нашего 20-летия.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
